@import '../default';

@mixin silicon-adjust-color($selector: '.#{$silicon-prefix}adjust-color') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
		border-radius: 50%;
		
		// Background
		background-image: linear-gradient(to right, transparent 50%, currentColor 50%);
	}
}
