@import '../default';

@mixin silicon-archive($selector: '.#{$silicon-prefix}archive') {
	#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.75em;
		height: 0.55em;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: none;

		/* transform */
		transform: translateY(0.2em);

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;

			/* size */
			display: block;
			box-sizing: border-box;

			/* transform */
			transform: translateX(-50%);
		}

		&:before {
			/* position */
			bottom: 100%;
			left: 50%;

			/* size */
			width: 1em;
			height: calc(#{$silicon-stroke-var} * 3);

			/* border */
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
		}
		&:after {
			/* position */
			bottom: calc(100% - (#{$silicon-stroke-var} * 1));
			left: 50%;

			/* size */
			width: 0.2em;
			height: calc(#{$silicon-stroke-var} / 2);

			/* background */
			background-color: currentColor;
		}
	}
}
