@import '../default';

@mixin silicon-archive($selector: '.#{$silicon-prefix}archive') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.75em;
		height: 0.55em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: none;

		// Transform
		transform: translateY(0.2em);

		&::before,
		&::after {
			content: '';


			position: absolute;


			display: block;
			box-sizing: border-box;


			transform: translateX(-50%);
		}

		&::before {

			bottom: 100%;
			left: 50%;


			width: 1em;
			height: calc(#{$silicon-stroke-var} * 3);


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
		}
		&::after {

			bottom: calc(100% - (#{$silicon-stroke-var} * 1));
			left: 50%;


			width: 0.2em;
			height: calc(#{$silicon-stroke-var} / 2);


			background-color: currentColor;
		}
	}
}
