@import '../default';

@mixin silicon-arrow-basic-right($selector: '.#{$silicon-prefix}arrow-basic-right') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: block;
		width: 1em;
		height: #{$silicon-stroke-var};

		/* background  */
		background-color: currentColor;

		&::before {
			content: '';

			// Box Model
			position: absolute;
			top: calc(#{$silicon-stroke-var} * 0.5);
			right: calc(#{$silicon-stroke-var} * -0.5);

			// Box Model
			display: block;
			width: 0.3em;
			height: 0.3em;

			// Border
			border: #{$silicon-stroke-var} solid currentColor;
			border-bottom: none;
			border-left: none;

			// Transform
			transform: rotate(45deg);
			transform-origin: 100% 0;
		}
	}
}
