@import '../default';

@mixin silicon-arrow-filled-right(
	$selector: '#{$silicon-prefix}arrow-filled-right'
) {
	#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: block;
		width: 1em;
		height: #{$silicon-stroke-var};

		/* background */
		background-color: currentColor;

		&:before {
			content: '';

			/* size */
			position: absolute;
			top: calc(#{$silicon-stroke-var} * 0.5);
			right: calc(#{$silicon-stroke-var} * -0.5);

			/* size */
			display: block;
			width: 0;
			height: 0;

			/* border */
			border: 0.15em solid currentColor;
			border-bottom-color: transparent;
			border-left-color: transparent;
			border-radius: 0.05em;

			/* transform */
			transform: rotate(45deg);
			transform-origin: 100% 0;
		}
	}
}
