@import '../default';

@mixin silicon-arrow-filled-right($class: '#{$silicon-prefix}arrow-filled-right') {
	.#{$class} {
		/* position */
		position: relative;
		
		/* size */
		display: block;
		width: 1em;
		height: var(--stroke, #{$silicon-stroke});

		/* position */
		background-color: currentColor;

		&:before {
			content: '';

			/* size */
			position: absolute;
			right: calc(var(--stroke, #{$silicon-stroke}) * -0.5);
			top: calc(var(--stroke, #{$silicon-stroke}) * 0.5);

			/* size */
			display: block;
			width: 0;
			height: 0;

			border: 0.3em solid currentColor;
			border-left-color: transparent;
			border-bottom-color: transparent;

			/* transform */
			transform: rotate(45deg);
			transform-origin: 100% 0;
		}
	}
}
