@import '../default';

@mixin silicon-arrow-filled-down(
	$selector: '.#{$silicon-prefix}arrow-filled-down'
) {
	#{$selector} {
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;

		&::before {
			content: '';
			position: absolute;
			bottom: 0%;
			left: 50%;

			display: block;
			width: 0em;
			height: 0em;

			border: 0.15em solid currentColor;
			border-right-color: transparent;
			border-bottom-color: transparent;

			transform: translateX(-50%) rotate(225deg);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 0.1em;
			height: 1em;
			background-color: currentColor;
			transform: translateX(-50%);
		}
	}
}
