@import '../default';

@mixin silicon-arrow-basic-down($selector: '.#{$silicon-prefix}arrow-basic-down') {
	#{$selector} {
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;

		&::before {
			content: '';
			position: absolute;
			bottom: 0%;
			left: 50%;
			
			display: block;
			width: 0.3em;
			height: 0.3em;
			
			border: .1em solid currentColor;
			border-right: none;
			border-bottom: none;
			
			transform:  translateX(-50%) rotate(225deg);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 0.1em;
			height: 1em;
			background-color: currentColor;
			transform: translateX(-50%);
		}
	}
}
