@import '../default';

@mixin silicon-arrow-filled-right(
	$selector: '.#{$silicon-prefix}arrow-filled-right'
) {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: #{$silicon-stroke-var};

		// Background
		background-color: currentColor;

		&::before {
			content: '';


			position: absolute;
			top: calc(#{$silicon-stroke-var} * 0.5);
			right: calc(#{$silicon-stroke-var} * -0.5);


			display: block;
			width: 0;
			height: 0;


			border: 0.15em solid currentColor;
			border-bottom-color: transparent;
			border-left-color: transparent;
			border-radius: 0.05em;


			transform: rotate(45deg);
			transform-origin: 100% 0;
		}
	}
}
