@import '../default';

@mixin silicon-art-spraycan($selector: '.#{$silicon-prefix}art-spraycan') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.6em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: none;
		border-radius: 0 0 0.5em 0.5em / 0 0 0.3em 0.3em;

		background-image: radial-gradient(
				closest-side,
				transparent calc(100% - 0.05em),
				currentColor calc(100% - 0.05em),
				currentColor 100%,
				transparent
			),
			radial-gradient(
				closest-side,
				transparent calc(100% - 0.05em),
				currentColor calc(100% - 0.05em),
				currentColor 100%,
				transparent
			);
		background-repeat: no-repeat, no-repeat;
		background-position: bottom 0.75em center, bottom 0.1em center;
		background-size: 0.9em 0.9em, 0.9em 0.9em;

		// Transform
		// transform: rotate(225deg);

		&::before {
			content: '';


			position: absolute;
			bottom: calc(100% - #{$silicon-stroke-var});
			left: 50%;


			display: block;
			width: 0.6em;
			height: 0.2em;
			box-sizing: border-box;


			border: #{$silicon-stroke-var} solid currentColor;
			border-top-width: #{$silicon-stroke-half-var};
			border-bottom: none;
			border-radius: 50%;


			transform: translateX(-50%);
		}
		&::after {
			content: '';


			position: absolute;
			bottom: calc(100% + 0.05em);
			left: 50%;


			display: block;
			width: 0.3em;
			height: 0.3em;
			box-sizing: border-box;


			border: #{$silicon-stroke-half-var} solid currentColor;
			border-radius: 0.4em / 0.5em;


			background-image: radial-gradient(
				closest-side,
				currentColor 100%,
				transparent
			);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 0.05em 0.05em;


			transform: translateX(-50%);
		}
	}
}
