@import '../default';

@mixin silicon-ball-volleyball($selector: '.#{$silicon-prefix}ball-volleyball') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;

		// Transform
		transform: rotate(-22.5deg);

		overflow: hidden;

		&::before {
			content: '';


			position: absolute;
			top: 0.1em;
			left: 50%;


			display: block;
			width: 75%;
			height: 100%;
			box-sizing: border-box;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0.5em 0.5em 0 0;


			background-image: linear-gradient(to bottom, currentColor, currentColor);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: #{$silicon-stroke-half-var} 100%;

			transform: translateX(-50%);
		}
		&::after {
			content: '';


			position: absolute;
			top: 0em;
			left: 50%;


			display: block;
			width: 100%;
			height: 25%;
			box-sizing: border-box;


			background-image: linear-gradient(
					45deg,
					transparent calc(50% - 0.025em),
					currentColor calc(50% - 0.025em),
					currentColor calc(50% + 0.025em),
					transparent calc(50% + 0.025em)
				),
				linear-gradient(
					-45deg,
					transparent calc(50% - 0.025em),
					currentColor calc(50% - 0.025em),
					currentColor calc(50% + 0.025em),
					transparent calc(50% + 0.025em)
				);
			background-repeat: no-repeat, no-repeat;
			background-position: top left, top right;
			background-size: .5em .5em, .5em .5em;


			transform: translateX(-50%);
		}
		&.colored {

			background-color: $silicons-color-white;
			
			// Typography
			color: $silicons-color-black;
			
			&::before, &::after{
				// Typography
				color: $silicons-color-gray;
			}
		}
	}
}
