@import '../default';

@mixin silicon-ball-tennis($selector: '.#{$silicon-prefix}ball-tennis') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;

		// Transform
		transform: rotate(22.5deg);

		overflow: hidden;

		&::before {
			content: '';


			position: absolute;
			top: 0.2em;
			left: 50%;


			display: block;
			width: 66.66%;
			height: 100%;
			box-sizing: border-box;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0.5em 0.5em 0 0;

			transform: translateX(-50%);
		}
		&.colored {


			background-color: $silicons-color-yellow;
			// Typography
			color: $silicons-color-black;
		}
	}
}
