@import '../default';

@mixin silicon-ball-basketball($selector: '.#{$silicon-prefix}ball-basketball') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;

		// Background
		background-image: linear-gradient(to right, currentColor, currentColor),
			linear-gradient(to right, currentColor, currentColor);
		background-repeat: no-repeat, no-repeat;
		background-position: center center, center, center;
		background-size: calc(#{$silicon-stroke-var} / 2) 100%,
			100% calc(#{$silicon-stroke-var} / 2);

		// Transform
		transform: rotate(22.5deg);

		overflow: hidden;

		&::before,
		&::after {
			content: '';

			// Position
			position: absolute;
			top: 0;

			// Box Model
			display: block;
			width: 100%;
			height: 100%;
			box-sizing: border-box;

			// Border
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 50%;
		}
		&::before {
			// Position
			left: 70%;
		}
		&::after {
			// Position
			right: 70%;
		}
		&.colored {

			// Background
			background-color: var(--color-orange, #{color(Orange)});
			// Typography
			color: var(--color-black, #{color(Black)});
		}
	}
}
