@import '../default';

@mixin silicon-ball-tennis($class: '#{$silicon-prefix}ball-tennis') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;

		overflow: hidden;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;

		/* transform */
		transform: rotate(22.5deg);

		&:before {
			content: '';

			/* position */
			position: absolute;
			top: 0.2em;
			left: 50%;

			/* size */
			display: block;
			box-sizing: border-box;
			width: 66.66%;
			height: 100%;

			/* border */
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0.5em 0.5em 0 0;

			transform: translateX(-50%);
		}
		&.colored{
			background-color: color(Yellow);
			color: color(Green);
		}
	}
}
