@import '../default';

@mixin silicon-ban($selector: '.#{$silicon-prefix}ban') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;

		/* background  */
		background-image: linear-gradient(
			to right bottom,
			transparent calc(50% - (#{$silicon-stroke-var} * 0.5)),
			currentColor calc(50% - (#{$silicon-stroke-var} * 0.5)),
			currentColor calc(50% + (#{$silicon-stroke-var} * 0.5)),
			transparent calc(50% - (#{$silicon-stroke-var} * 0.5))
		);
	}
}
