@import '../default';

@mixin silicon-ban($class: '#{$silicon-prefix}ban') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;

		/* background  */
		background-image: linear-gradient(
			to right bottom,
			transparent calc(50% - (#{$silicon-stroke-var} * 0.5)),
			currentColor calc(50% - (#{$silicon-stroke-var} * 0.5)),
			currentColor calc(50% + (#{$silicon-stroke-var} * 0.5)),
			transparent calc(50% - (#{$silicon-stroke-var} * 0.5))
		);

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;
	}
}
