@import '../default';
@import 'battery-empty';

@mixin silicon-battery-50($selector: '.#{$silicon-prefix}battery-50') {
	@include silicon-battery-empty(#{$selector});
	#{$selector} {
		&::after {
			content: '';


			position: absolute;
			top: calc(#{$silicon-stroke-var} / 2);
			left: calc(#{$silicon-stroke-var} / 2);


			display: block;
			width: calc(50%);
			height: calc(100% - #{$silicon-stroke-var});


			border-radius: calc(#{$silicon-stroke-var} / 2);


			background-color: currentColor;
		}

		&.colored {
			&::after {
	
				background-color: $silicons-color-orange;
			}
		}
	}
}
