@import '../default';
@import 'battery-empty';

@mixin silicon-battery-full($selector: '.#{$silicon-prefix}battery-full') {
	@include silicon-battery-empty(#{$selector});
	#{$selector} {
		&:after {
			content: '';
			
			/* position */
			position: absolute;
			top: calc(#{$silicon-stroke-var} / 2);
			left: calc(#{$silicon-stroke-var} / 2);

			/* size */
			display: block;
			width: calc(100% - #{$silicon-stroke-var});
			height: calc(100% - #{$silicon-stroke-var});

			/* background */
			background-color: currentColor;
			
			/* border */
			border-radius: calc(#{$silicon-stroke-var} / 2);
		}
		&.colored {
			&:after {
				/* background */
				background-color: $silicons-color-green;
			}
		}
	}
}
