@import '../default';
@import 'battery-empty';

@mixin silicon-battery-half($class: '#{$silicon-prefix}battery-half') {
	@include silicon-battery-empty(#{$class});
	.#{$class} {
		&:after {
			content: '';

			position: absolute;
			top: calc(var(--stroke, #{$silicon-stroke}) / 2);
			left: calc(var(--stroke, #{$silicon-stroke}) / 2);

			display: block;
			width: calc(50%);
			height: calc(100% - var(--stroke, #{$silicon-stroke}));

			background-color: currentColor;			
			
			border-radius: calc(var(--stroke, #{$silicon-stroke}) / 2);
		}
	}
}
