@import '../default';
@import 'battery-empty';

@mixin silicon-battery-50($selector: '.#{$silicon-prefix}battery-50') {
	@include silicon-battery-empty(#{$selector});
	#{$selector} {
		&::after {
			content: '';

			// Position
			position: absolute;
			top: calc(#{$silicon-stroke-var} / 2);
			left: calc(#{$silicon-stroke-var} / 2);

			// Box Model
			display: block;
			width: calc(50%);
			height: calc(100% - #{$silicon-stroke-var});

			// Border
			border-radius: calc(#{$silicon-stroke-var} / 2);

			// Background
			background-color: currentColor;
		}

		&.colored {
			&::after {
				// Background
				background-color: $silicons-color-orange;
			}
		}
	}
}
