@import '../default';
@import 'battery-empty';

@mixin silicon-battery-25($class: '#{$silicon-prefix}battery-25') {
	@include silicon-battery-empty($class);
	.#{$class} {
		&:after {
			content: '';

			/* position */
			position: absolute;
			top: calc(var(--stroke, #{$silicon-stroke}) / 2);
			left: calc(var(--stroke, #{$silicon-stroke}) / 2);

			/* size */
			display: block;
			width: calc(25%);
			height: calc(100% - var(--stroke, #{$silicon-stroke}));

			/* background */
			background-color: currentColor;

			/* border */
			border-radius: calc(var(--stroke, #{$silicon-stroke}) / 2);
		}

		&.colored {
			&:after {
				/* background */
				background-color: $color-red;
			}
		}
	}
}
