@import '../default';

@mixin silicon-battery-empty($selector: '.#{$silicon-prefix}battery-empty') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 0.5em;
		box-sizing: border-box;

		// Border
		border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
		border-radius: calc(#{$silicon-stroke-var} * 1.5);

		&::before {
			content: '';


			position: absolute;
			top: 50%;
			left: 100%;


			display: block;
			width: 0.2em;
			height: 0.25em;
			box-sizing: border-box;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0 calc(#{$silicon-stroke-var} * 0.5)
				calc(#{$silicon-stroke-var} * 0.5) 0;


			transform: translateY(-50%);
		}

		&.colored {
			

			background-color: $silicons-color-white;
			// Typography
			color: black;
			&::before {
	
				background-color: $silicons-color-white;
			}
		}
	}
}
