@import '../default';
@import 'battery-empty';

@mixin silicon-battery-75($selector: '.#{$silicon-prefix}battery-75') {
	@include silicon-battery-empty(#{$selector});
	#{$selector} {
		&::after {
			content: '';


			position: absolute;
			top: calc(0.1em / 2);
			left: calc(0.1em / 2);
			
			
			display: block;
			width: calc(75%);
			height: calc(100% - 0.1em);
			
			
			border-radius: calc(0.1em / 2);
			
			
			background-color: currentColor;
		}
		&.colored{
			&::after{
	
				background-color:$silicons-color-green;
			}
		}
	}
}
