@import '../default';
@import 'battery-empty';

@mixin silicon-battery-full($selector: '.#{$silicon-prefix}battery-full') {
	@include silicon-battery-empty(#{$selector});
	#{$selector} {
		&::after {
			content: '';

			position: absolute;
			top: calc(0.1em / 2);
			left: calc(0.1em / 2);

			display: block;
			width: calc(100% - 0.1em);
			height: calc(100% - 0.1em);

			border-radius: calc(0.1em / 2);

			background-color: currentColor;
		}
		&.colored {
			&::after {
				background-color: $silicons-color-green;
			}
		}
	}
}
