.#{$silicon-prefix}battery-empty {
	width: 1em;
	height: 0.5em;
	border: var(--stroke, #{$silicon-stroke}) solid currentColor;
	border-radius: calc(var(--stroke, #{$silicon-stroke}) * 1.5);
	position: absolute;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 100%;
		height: 0.25em;
		width: 0.2em;
		top: 50%; transform: translateY(-50%);
		border: calc(var(--stroke, #{$silicon-stroke}) / 2) solid currentColor;
		border-radius: 0 calc(var(--stroke, #{$silicon-stroke}) * .5) calc(var(--stroke, #{$silicon-stroke}) * .5) 0;
	}
}
