@import '../default';
@import 'battery-empty';

@mixin silicon-battery-full($selector: '.#{$silicon-prefix}battery-full') {
	@include silicon-battery-empty(#{$selector});
	#{$selector} {
		&::after {
			content: '';
			

			position: absolute;
			top: calc(#{$silicon-stroke-var} / 2);
			left: calc(#{$silicon-stroke-var} / 2);


			display: block;
			width: calc(100% - #{$silicon-stroke-var});
			height: calc(100% - #{$silicon-stroke-var});
			

			border-radius: calc(#{$silicon-stroke-var} / 2);


			background-color: currentColor;
		}
		&.colored {
			&::after {
	
				background-color: $silicons-color-green;
			}
		}
	}
}
