@import '../default';

@mixin silicon-bed($selector: '.#{$silicon-prefix}bed') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 0.4em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: #{$silicon-stroke-var};

		&::before {
			content: '';
			

			position: absolute;
			bottom: 100%;
			left: 50%;


			display: block;
			width: 0.8em;
			height: 0.4em;
			box-sizing: border-box;


			border: #{$silicon-stroke-var} solid currentColor;
			border-radius: calc(#{$silicon-stroke-var} * 2)
				calc(#{$silicon-stroke-var} * 2) 0 0;


			background-image: linear-gradient(to right, currentColor, currentColor),linear-gradient(to right, currentColor, currentColor);
			background-repeat: no-repeat, no-repeat;
			background-position: bottom left 17.5%, bottom left 82.5%;
			background-size: 0.2em 0.1em,0.2em 0.1em;


			transform: translateX(-50%);
		}
	}
}
