@import '../default';

@mixin silicon-book($selector: '.#{$silicon-prefix}book') {
	.#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.75em;
		height: 0.75em;

		background-image: linear-gradient(to bottom, currentColor, currentColor);
		background-repeat: no-repeat;
		background-position: top right;
		background-size: #{$silicon-stroke-var} calc(100% -
					(#{$silicon-stroke-var} * 2));

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-right: none;
		border-bottom: none;
		border-radius: 0.2em 0 0 0;

		&:before {
			content: '';

			/* position */
			position: absolute;
			top: 100%;
			left: calc(#{$silicon-stroke-var} * -1);

			/* size */
			display: block;
			box-sizing: border-box;
			width: calc(100% + #{$silicon-stroke-var});
			height: 0.4em;

			background-image: radial-gradient(
				closest-side,
				transparent calc(100% - 0.05em),
				currentColor calc(100% - 0.05em),
				currentColor 100%,
				transparent
			);
			background-repeat: no-repeat;
			background-position: top 50% right -0.31em;
			background-size: 0.4em 0.4em;

			/* border */
			border: #{$silicon-stroke-var} solid currentColor;
			border-right: none;
			border-radius: 0.2em 0 0 0.2em;

			/* transform */
			transform: translateY(-50%);
		}
	}
}
