@import '../default';

@mixin silicon-bottle-beer($class: '#{$silicon-prefix}bottle-beer') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;
		
		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border: 1px solid red;
	}
}
