@import '../default';

@mixin silicon-bottle($selector: '.#{$silicon-prefix}bottle') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.45em;
		height: 0.85em;
		box-sizing: border-box;
		
		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 0.5em 0.5em 0 0;
		
		// Background
		background-image: linear-gradient(to bottom, currentColor, currentColor),linear-gradient(to bottom, currentColor, currentColor);
		background-repeat: no-repeat, no-repeat;
		background-position: top 25% center, top 70% center;
		background-size: 100%  #{$silicon-stroke-half-var}, 100%  #{$silicon-stroke-half-var};

		&::before {
			content: '';

			position: absolute;
			bottom: 100%;
			left: 50%;


			display: block;
			width: 0.25em;
			height: 0.4em;
			box-sizing: border-box;


			border: #{$silicon-stroke-var} solid currentColor;
			border-bottom: none;
			

			transform: translateX(-50%);
		}
	}
}
