@import '../default';

@mixin silicon-burger($selector: '.#{$silicon-prefix}burger') {
	.#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: #{$silicon-stroke-var};

		/* background */
		background-color: currentColor;

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;

			/* size */
			display: block;
			box-sizing: border-box;
			width: 100%;
			height: 100%;

			/* background */
			background-color: currentColor;
		}
		&:before {
			/* position */
			top: 100%;

			/* transform */
			transform: translateY(calc(#{$silicon-stroke-var} * 2));
		}
		&:after {
			/* position */
			bottom: 100%;

			/* transform */
			transform: translateY(calc(#{$silicon-stroke-var} * -2));
		}
	}
}
