@import '../default';

@mixin silicon-check($selector: '.#{$silicon-prefix}check') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;
		
	
		&::before {
			content: '';


			position: absolute;
			top: 50%;
			left: 50%;


			display: block;
			width: 1em;
			height: .75em;
			box-sizing: border-box;


			border-width: 0 0 #{$silicon-stroke-var} #{$silicon-stroke-var};
			border-style: solid;
			border-color: transparent transparent currentColor currentColor;


			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}
