@import '../default';

@mixin silicon-close($selector: '.#{$silicon-prefix}close') {
	#{$selector} {
		position: relative;

		display: inline-block;
		width: 1em;
		height: 1em;
    box-sizing: border-box;

		&::before,
		&::after {
			content: '';

			position: absolute;
			top: 50%;
			left: 50%;

			display: block;
			width: 100%;
			height: #{$silicon-stroke-var};
			box-sizing: border-box;
			
			background-color: currentColor;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(135deg);
		}
	}
}