@import '../default';

@mixin silicon-cloud-snow($selector: '.#{$silicon-prefix}cloud-snow') {
	#{$selector} {
		display: inline-block;
		position: relative;
		margin-left: -0.75em;
		margin-top: 0.4em;
		width: 0.35em;
		height: 0.55em;
		border-radius: 0.275em 0 0 0.275em;
		border-left: 0.1em solid currentColor;
		border-top: 0.1em solid currentColor;
		border-bottom: 0.1em solid currentColor;

		&::before {
			content: '';
			position: absolute;
			top: -0.46em;
			left: 0.15em;
			width: 0.75em;
			height: 0.75em;
			border-radius: 50%;
			transform: rotate(-45deg);
			border: 0.1em solid currentColor;
			border-bottom-color: transparent;
			border-left-color: transparent;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0.3em;
			left: 0.4em;
			width: 0.2em;
			height: 0.2em;
			border-radius: 50%;
			background-color: currentColor;
			box-shadow: 0.5em 0 currentColor, 0.25em -0.25em currentColor,
				0.25em 0.25em currentColor;
			z-index: 2;
		}
	}
}
