@import '../default';

@mixin silicon-copy($selector: '.#{$silicon-prefix}copy') {
	#{$selector} {
		// Position
		position: relative;
		z-index: 1;

		// Box Model
		display: inline-block;
		width: 0.75em;
		height: 1em;
		box-sizing: border-box;

		&::before,
		&::after {
			content: '';

			// Position
			position: absolute;

			// Box Model
			display: block;
			width: 0.75em;
			height: 1em;
			box-sizing: border-box;

			// Border
			border: #{$silicon-stroke-var} solid currentColor;
		}

		&::before {
			// Position
			top: calc(#{$silicon-stroke-var} * -2);
			left: calc(#{$silicon-stroke-var} * -2);
			z-index: -1;

			// Border
			border-right: none;
			border-bottom: none;
		}

		&::after {
			// Position
			top: 0;
			left: 0;
			z-index: 1;
		}

		&.colored {
			&::before,&::after {

				// Border
				border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
				
				// Background
				background-color: white;
				// Typography
				color: $silicons-color-black;
			}
			&::before{
				
				// Background
				background-color: $silicons-color-white;
				// Typography
				color: $silicons-color-gray;
				
				/* opacity */
				opacity: .5;
			}
		}
	}
}
