@import '../default';

@mixin silicon-cosmetics-lipstick(
	$class: '#{$silicon-prefix}cosmetics-lipstick'
) {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.6em;
		height: 1em;

		background-image: radial-gradient(
				closest-side,
				transparent calc(100% - 0.05em),
				currentColor calc(100% - 0.05em),
				currentColor 100%,
				transparent
			),
			radial-gradient(
				closest-side,
				transparent calc(100% - 0.05em),
				currentColor calc(100% - 0.05em),
				currentColor 100%,
				transparent
			);
		background-repeat: no-repeat, no-repeat;
		background-position: bottom 0.75em center, bottom 0.1em center;
		background-size: 0.9em 0.9em, 0.9em 0.9em;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-top-color: transparent;
		border-radius: 0.2em 0.2em 0.5em 0.5em / 0.2em 0.2em 0.3em 0.3em;

		&:before {
			content: '';

			/* position */
			position: absolute;
			bottom: calc(100% + #{$silicon-stroke-half-var});
			left: 50%;

			/* size */
			display: block;
			box-sizing: border-box;
			width: 0.5em;
			height: 0.5em;

			/* background */
			background-image: radial-gradient(
				closest-side,
				transparent calc(100% - 0.05em),
				currentColor calc(100% - 0.05em),
				currentColor 100%,
				transparent
			);
			background-repeat: no-repeat;
			background-position: center -0.15em;
			background-size: 0.3em 0.5em;

			/* border */
			border: #{$silicon-stroke-half-var} solid currentColor;
			border-bottom: none;
			border-radius: 0.4em 0.4em 0 0 / 0.5em 0.5em 0 0;

			/* transform */
			transform: translateX(-50%);
		}
		&.colored {
			/* text */
			color: $silicons-color-dark-gray;
			
			/* background */
			background-color: $silicons-color-gray;
			background-image: radial-gradient(
					closest-side,
					$silicons-color-red calc(100% - 0.05em),
					$silicons-color-black calc(100% - 0.05em),
					$silicons-color-black 100%,
					$silicons-color-gray
				),
				radial-gradient(
					closest-side,
					transparent calc(100% - 0.05em),
					$silicons-color-dark-gray calc(100% - 0.05em),
					$silicons-color-dark-gray 100%,
					transparent
				);
			&:before {
				/* text */
				color: $silicons-color-dark-red;
				
				/* background */
				background-color: $silicons-color-red;
				background-image: radial-gradient(
					closest-side,
					$silicons-color-light-red 100%,
					transparent
				);
			}
		}
	}
}
