@import '../default';

@mixin silicon-creditcard($class: '#{$silicon-prefix}creditcard') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 0.75em;

		/* background */
		background-image: linear-gradient(to right, currentColor, currentColor);
		background-repeat: no-repeat;
		background-position: bottom 0.2em center;
		background-size: 100% 0.2em;

		/* border */
		border: var(--stroke, $silicon-stroke) solid currentColor;
		border: 1px solid red;
		border-radius: var(--stroke, $silicon-stroke);
	}
}
