@import '../default';

@mixin silicon-device-phone($selector: '.#{$silicon-prefix}device-phone') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.6em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
		border-radius: 0.1em;

		&::before {
			content: '';


			position: absolute;
			top: 0;
			left: 50%;


			display: block;
			width: 0.2em;
			height: 0.05em;
			box-sizing: border-box;


			border-radius: 0 0 0.05em 0.05em;


			background-color: currentColor;


			transform: translateX(-50%);
		}

		&.colored {

			background-color: $silicons-color-green;
			background-image: linear-gradient(
				-70deg,
				transparent 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 60%,
				transparent 60%
			);
			
			// Typography
			color: $silicons-color-dark;
		}
	}
}
