@import '../default';

@mixin silicon-device-camera($selector: '.#{$silicon-prefix}device-camera') {
	#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 0.75em;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: #{$silicon-stroke-var};

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;

			/* size */
			display: block;
			box-sizing: border-box;

			/* border */
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
		}
		&:before {
			/* position */
			top: 50%;
			left: 50%;

			/* size */
			width: 0.5em;
			height: 0.5em;

			/* border */
			border-radius: 50%;

			/* transform */
			transform: translate(-50%, -50%);
		}
		&:after {
			/* position */
			bottom: calc(100% + #{$silicon-stroke-var});
			left: 50%;

			/* size */
			width: 0.3em;
			height: 0.1em;

			border-radius: 0.1em 0.1em 0 0;

			transform: translateX(-50%);
		}
	}
}
