@import '../default';

@mixin silicon-device-tv($class: '#{$silicon-prefix}device-tv') {
	.#{$class} {
		position: relative;

		display: inline-block;
    box-sizing: border-box;
		width: 1em;
		height: 0.75em;

		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-radius: 0.2em;

		&:before {
			content: '';

			position: absolute;
			bottom: 100%;
			left: 50%;

			display: block;
			box-sizing: border-box;
			width: calc(var(--stroke, #{$silicon-stroke}) * 3);
			height: calc(var(--stroke, #{$silicon-stroke}) * 3);

			border: calc(var(--stroke, #{$silicon-stroke}) / 2) solid currentColor;
			border-top: 0;
			border-right: 0;

			transform: translateX(-50%)
				translateY(calc(var(--stroke, #{$silicon-stroke}) * -1)) rotate(-45deg);
		}
	}
}
