@import '../default';

@mixin silicon-device-laptop($selector: '.#{$silicon-prefix}device-laptop') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 0.6em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-bottom: 0;
		border-radius: 0.1em 0.1em 0 0;

		&::before {
			content: '';


			position: absolute;
			top: calc(100%);
			left: 50%;


			display: block;
			width: 1.2em;
			height: calc(#{$silicon-stroke-var} * 2);
			box-sizing: border-box;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0 0 0.2em 0.2em;


			transform: translateX(-50%);
		}

		&.colored {

			background-color: $silicons-color-blue;
			background-image: linear-gradient(
				-70deg,
				transparent 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 60%,
				transparent 60%
			);
			
			// Typography
			color: $silicons-color-dark;
			
			&::before {
	
				background-color: $silicons-color-gray;
			}
		}
	}
}
