@import '../default';

@mixin silicon-device-screen($selector: '.#{$silicon-prefix}device-screen') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 0.75em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 0.1em;

		&::before {
			content: '';


			position: absolute;
			top: 100%;
			left: 50%;


			display: block;
			width: 50%;
			height: calc(#{$silicon-stroke-var} * 3);
			box-sizing: border-box;


			border-bottom: calc(#{$silicon-stroke-var} / 2) solid
				currentColor;


			background-image: linear-gradient(
				to right,
				transparent calc(50% - #{$silicon-stroke-var} / 4),
				currentColor calc(50% - #{$silicon-stroke-var} / 4),
				currentColor calc(50% + #{$silicon-stroke-var} / 4),
				transparent calc(50% + #{$silicon-stroke-var} / 4)
			);


			transform: translateX(-50%);
		}
		&.colored {

			background-color: $silicons-color-blue;
			background-image: linear-gradient(
				-70deg,
				transparent 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 60%,
				transparent 60%
			);
			
			// Typography
			color: $silicons-color-dark;
		}
	}
}
