@import '../default';

@mixin silicon-device-laptop($class: '#{$silicon-prefix}device-laptop') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 0.6em;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-bottom: 0;
		border-radius: 0.1em 0.1em 0 0;

		&:before {
			content: '';

			/* position */
			position: absolute;
			top: calc(100%);
			left: 50%;

			/* size */
			display: block;
			box-sizing: border-box;
			width: 1.2em;
			height: calc(#{$silicon-stroke-var} * 2);

			/* border */
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0 0 0.2em 0.2em;

			/* transform */
			transform: translateX(-50%);
		}

		&.colored {
			/* text */
			color: $silicons-color-dark;

			/* background */
			background-color: $silicons-color-blue;
			background-image: linear-gradient(
				-70deg,
				transparent 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 60%,
				transparent 60%
			);
			&:before {
				/* background */
				background-color: $silicons-color-gray;
			}
		}
	}
}
