@import '../default';

@mixin silicon-device-printer($class: '#{$silicon-prefix}device-printer') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.5em;
		height: 0.5em;

		/* border */
		border: calc(#{$silicon-stroke-var} / 2) solid currentColor;

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;
			box-sizing: border-box;
		}

		&:after {
			/* position */
			bottom: calc(100% + (#{$silicon-stroke-var} * 2.5));
			left: 50%;

			/* size */
			display: block;
			width: 0.5em;
			height: 0.1em;

			/* border */
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-bottom: none;

			/* transform */
			transform: translateX(-50%);
		}
		&:before {
			/* position */
			top: -0.25em;
			left: 50%;

			/* sisze */
			display: block;
			width: 1em;
			height: 0.5em;

			/* border */
			border: #{$silicon-stroke-var} solid currentColor;
			border-radius: #{$silicon-stroke-var}
				#{$silicon-stroke-var} 0 0;

			/* transform */
			transform: translatex(-50%);

			/* paths */
			clip-path: polygon(
				0% 100%,
				0% 0%,
				100% 0%,
				100% 100%,
				74% 100%,
				74% 50%,
				26% 50%,
				26% 100%
			);
		}
		&.colored {
			&,
			&:after {
				/* text */
				color: $silicons-color-gray;
				
				/* background */
				background-color: $silicons-color-white;
			}
			&:before {
				/* text */
				color: $silicons-color-black;
				
				/* background */
				background-color: $silicons-color-dark;
			}
		}
	}
}
