@import '../default';

@mixin silicon-device-phone2($selector: '.#{$silicon-prefix}device-phone2') {
	#{$selector} {
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 1em;
			height: 1em;
			border: 0.2em solid currentColor;
			border-color: transparent transparent transparent currentColor;
			border-radius: 50%;
			transform: translate(-30%, -70%) rotate(-45deg);
			transform-origin: 50% 50%;
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 0.5em;
			height: 1em;
			background-image: linear-gradient(currentColor 100%, transparent),
				linear-gradient(currentColor 100%, transparent);
			background-repeat: no-repeat, no-repeat;
			background-position: top left, bottom left;
			background-size: 0.2em 0.25em, 0.2em 0.25em;
			transform: translate(-27.5%, -60%) rotate(-45deg);
		}
	}
}
