@import "../default";

@mixin silicon-device-phone($class: '#{$silicon-prefix}device-phone') {
	.#{$class} {
		@include silicon-default-settings();
    position: relative;
    
		width: 0.7em;
		height: 1em;

		background-image: radial-gradient(
				circle closest-side,
				currentColor 70%,
				transparent 70%
			)
			linear-gradient(to bottom, currentColor, currentColor);
		background-repeat: no-repeat, no-repeat;
		background-position: bottom calc(var(--stroke, #{$silicon-stroke}) / 2) left
				50%,
			top calc(var(--stroke, #{$silicon-stroke}) / 2) left 50%;
		background-size: calc(var(--stroke, #{$silicon-stroke}) * 1.5)
				calc(var(--stroke, #{$silicon-stroke}) * 1.5),
			calc(var(--stroke, #{$silicon-stroke}) * 1.5)
				calc(var(--stroke, #{$silicon-stroke}) * 3);

		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-radius: 0.1em;
	}
}
@include silicon-device-phone();
