@import '../default';

@mixin silicon-device-screen($selector: '.#{$silicon-prefix}device-screen') {
	.#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 0.75em;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 0.1em;

		&:before {
			content: '';

			/* position */
			position: absolute;
			top: 100%;
			left: 50%;

			/* size */
			display: block;
			box-sizing: border-box;
			width: 50%;
			height: calc(#{$silicon-stroke-var} * 3);

			/* background */
			background-image: linear-gradient(
				to right,
				transparent calc(50% - #{$silicon-stroke-var} / 4),
				currentColor calc(50% - #{$silicon-stroke-var} / 4),
				currentColor calc(50% + #{$silicon-stroke-var} / 4),
				transparent calc(50% + #{$silicon-stroke-var} / 4)
			);

			/* border */
			border-bottom: calc(#{$silicon-stroke-var} / 2) solid
				currentColor;

			/* transform */
			transform: translateX(-50%);
		}
		&.colored {
			/* text */
			color: $silicons-color-dark;

			/* background */
			background-color: $silicons-color-blue;
			background-image: linear-gradient(
				-70deg,
				transparent 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 40%,
				var(--white-02, rgba(255, 255, 255, 0.2)) 60%,
				transparent 60%
			);
		}
	}
}
