@import '../default';

@mixin silicon-device-printer($selector: '.#{$silicon-prefix}device-printer') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.5em;
		height: 0.5em;
		box-sizing: border-box;

		// Border
		border: calc(#{$silicon-stroke-var} / 2) solid currentColor;

		&::before,
		&::after {
			content: '';


			position: absolute;
			box-sizing: border-box;
		}

		&::after {

			bottom: calc(100% + (#{$silicon-stroke-var} * 2.5));
			left: 50%;


			display: block;
			width: 0.5em;
			height: 0.1em;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-bottom: none;


			transform: translateX(-50%);
		}
		&::before {

			top: -0.25em;
			left: 50%;

			/* sisze */
			display: block;
			width: 1em;
			height: 0.5em;


			border: #{$silicon-stroke-var} solid currentColor;
			border-radius: #{$silicon-stroke-var}
				#{$silicon-stroke-var} 0 0;


			transform: translatex(-50%);

			// Visibility
			clip-path: polygon(
				0% 100%,
				0% 0%,
				100% 0%,
				100% 100%,
				74% 100%,
				74% 50%,
				26% 50%,
				26% 100%
			);
		}
		&.colored {
			&,
			&::after {
	
				background-color: $silicons-color-white;
				
				// Typography
				color: $silicons-color-gray;
			}
			&::before {
	
				background-color: $silicons-color-dark;
				
				// Typography
				color: $silicons-color-black;
			}
		}
	}
}
