@import '../default';
@import 'device-phone';

@mixin silicon-device-tablet($class: '#{$silicon-prefix}device-tablet') {
	@include silicon-device-phone($class);
	.#{$class} {
		/* size */
		width: 1em;
		height: 0.6em;

		&:before {
			/* position */
			top: 50%;
			left: 0;
			
			/* size */
			width: 0.05em;
			height: 0.2em;

			/* border */
			border-radius: 0 0.05em 0.05em 0;

			/* transform */
			transform: translateY(0, -50%) rotate(-90deg);
		}
	}
}
