@import "../default";

@mixin silicon-file-export($selector: '.#{$silicon-prefix}file-export') {
	#{$selector} {		
		position: relative;

		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 0.75em;

		background-image: linear-gradient(
			to right,
			currentColor 33.33%,
			transparent 33.33%,
			transparent,
			66.66%,
			currentColor 66.66%
		);
		background-repeat: no-repeat;
		background-position: top left;
		background-size: 100% #{$silicon-stroke-var};

		border: #{$silicon-stroke-var} solid currentColor;
		border-top: 0;

		&:before,
		&:after {
			content: '';

			position: absolute;
			box-sizing: border-box;
		}
		
		&:before {
			bottom: 75%;
			left: 50%;

			display: block;
			width: calc(#{$silicon-stroke-var} / 2);
			height: 0.5em;

			background-color: currentColor;

			transform: translateX(-50%);
		}
		&:after {
			bottom: calc(75% + 0.5em + (#{$silicon-stroke-var} / 2));
			left: 50%;

			display: block;
			width: 0.33em;
			height: 0.33em;

			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-top: none;
			border-right: none;

			transform: rotate(135deg);
			transform-origin: 0 100%;
		}
		&.colored{
			color: $silicons-color-dark;
			&:before,&:after{
				color: $silicons-color-blue;
			}
		}
	}
}