@import '../default';

@mixin silicon-file-upload($selector: '.#{$silicon-prefix}file-upload') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 1em;
		height: 0.5em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: 0;

		&::before,
		&::after {
			content: '';

			// Position
			position: absolute;

			// Box Model
			box-sizing: border-box;
		}

		&::before {
			// Position
			bottom: 75%;
			left: 50%;

			// Box Model
			display: block;
			width: calc(#{$silicon-stroke-var} / 2);
			height: 0.5em;

			// Background
			background-color: currentColor;

			// Transform
			transform: translateX(-50%);
		}
		&::after {
			// Position
			bottom: calc(75% + 0.5em + (#{$silicon-stroke-var} / 2));
			left: 50%;

			// Box Model
			display: block;
			width: 0.33em;
			height: 0.33em;

			// Border
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-top: none;
			border-right: none;

			// Transform
			transform: rotate(135deg);
			transform-origin: 0 100%;
		}
		&.colored {
			// Typography
			color: $silicons-color-dark;

			&::before,
			&::after {
				// Typography
				color: $silicons-color-green;
			}
		}
	}
}
