.#{$silicon-prefix}file-import {
	width: 1em;
	height: .75em;
	border: var(--stroke, #{$silicon-stroke}) solid currentColor;
	border-top: 0;
	position: relative;
	background-image: linear-gradient(to right, currentColor 33.33%, transparent 33.33%, transparent, 66.66%, currentColor 66.66%);
	background-size: 100% var(--stroke, #{$silicon-stroke});
	background-position: top left;
	background-repeat: no-repeat;
	&:before {
		position: absolute;
		content: '';
		display: block;
		width: calc(var(--stroke, #{$silicon-stroke}) / 2);
		height: 0.5em;
		bottom: 40%;
		left: 50%;
		transform: translateX(-50%);
		background-color: currentColor;
	}
	&:after {
		width: 0.33em;
		height: 0.33em;
		position: absolute;
		content: '';
		display: block;
		transform-origin: 0 100%;
		transform: rotate(-45deg);
		border: calc(var(--stroke, #{$silicon-stroke}) / 2) solid currentColor;
		border-top: none;
		border-right: none;
		left: 50%;
		bottom: calc(40% - var(--stroke, #{$silicon-stroke}) / 2);
	}
}
