@import "../default";

@mixin silicon-file-download($selector: '.#{$silicon-prefix}file-download') {
	#{$selector} {		
		/* position */ 
		position: relative;

		/* size */ 
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 0.5em;

		/* border */ 
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: 0;

		&:before,
		&:after {
			content: '';

		/* position */ 
			position: absolute;
			box-sizing: border-box;
		}
		
		&:before {
			/* position */ 
			bottom: 75%;
			left: 50%;

		/* size */ 
			display: block;
			width: calc(#{$silicon-stroke-var} / 2);
			height: 0.5em;

		/* background */ 
			background-color: currentColor;

		/* transform */ 
			transform: translateX(-50%);
		}

		&:after {
			/* position */ 
			bottom: calc(75% - #{$silicon-stroke-var} / 2);
			left: 50%;

		/* size */ 
			display: block;
			width: 0.33em;
			height: 0.33em;
			
		/* border */ 
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-top: none;
			border-right: none;

		/* transform */ 
			transform: rotate(-45deg);
			transform-origin: 0 100%;
		}
		&.colored{
			/* text */ 
			color: $silicons-color-dark;
			&:before,&:after{
				/* text */ 
				color: $silicons-color-blue;
			}
		}
	}
}
