@import '../default';

@mixin silicon-file-download($selector: '.#{$silicon-prefix}file-download') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 0.5em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: 0;

		&::before,
		&::after {
			content: '';


			position: absolute;
			box-sizing: border-box;
		}

		&::before {

			bottom: 75%;
			left: 50%;


			display: block;
			width: calc(#{$silicon-stroke-var} / 2);
			height: 0.5em;


			background-color: currentColor;


			transform: translateX(-50%);
		}

		&::after {

			bottom: calc(75% - #{$silicon-stroke-var} / 2);
			left: 50%;


			display: block;
			width: 0.33em;
			height: 0.33em;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-top: none;
			border-right: none;


			transform: rotate(-45deg);
			transform-origin: 0 100%;
		}
		&.colored {
			// Typography
			color: $silicons-color-dark;
			
			&::before,
			&::after {
				// Typography
				color: $silicons-color-blue;
			}
		}
	}
}
