@import '../default';

@mixin silicon-glass-wine($selector: '.#{$silicon-prefix}glass-wine') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.5em;
		height: 0.5em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 0 0 50% 50%;

		// Background
		background-image: linear-gradient(to bottom, currentColor, currentColor);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% #{$silicon-stroke-half-var};

		&::before {
			content: '';
			

			position: absolute;
			top: 100%;
			left: calc(#{$silicon-stroke-var} * -1);


			display: block;
			width: 0.5em;
			height: 0.4em;
			box-sizing: border-box;


			border-bottom: #{$silicon-stroke-var} solid currentColor;


			background-image: linear-gradient(to bottom, currentColor, currentColor);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: #{$silicon-stroke-var} 100%;
		}
	}
}
