@import '../default';

@mixin silicon-glass-wine($class: '#{$silicon-prefix}glass-wine') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: .5em;
		height: .5em;
		
		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 0 0 50% 50%;

	}
}
