@import '../default';

@mixin silicon-globe($class: '#{$silicon-prefix}globe') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-flex;
		justify-content: center;
		box-sizing: border-box;
		width: 1em;
		height: 0.8em;

		/* border */
		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-radius: 50%;

		&:before {
			content: '';

			/* size */
			width: 60%;
			height: 100%;

			/* margin */
			margin-top: calc(var(--stroke, #{$silicon-stroke}) * -0.5);

			/* border */
			border: calc(var(--stroke, #{$silicon-stroke}) / 2) solid currentColor;
			border-radius: 50%;
		}
		&:after {
			content: '';
			/* position */
			position: absolute;
			top: 0;
			left: 0;

			/* size */
			display: block;
			width: 100%;
			height: 100%;

			/* background */
			background-image: linear-gradient(to right, currentColor, currentColor),
				linear-gradient(to right, currentColor, currentColor);
			background-repeat: no-repeat, no-repeat;
			background-position: center center, center center;
			background-size: calc(var(--stroke, #{$silicon-stroke}) / 2) 100%,
				100% calc(var(--stroke, #{$silicon-stroke}) / 2);
		}

		&.colored {
			/* text */
			color: $silicons-color-dark;

			/* background */
			background-color: $silicons-color-light-blue;
			background-image: radial-gradient(
					$silicons-color-green 50%,
					transparent 50%
				),
				radial-gradient($silicons-color-green 50%, transparent 50%),
				radial-gradient($silicons-color-green 50%, transparent 50%),
				radial-gradient($silicons-color-white 50%, transparent 50%),
				radial-gradient($silicons-color-white 50%, transparent 50%);
				background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
				background-position: center center, left -0.25em center,
				right -0.25em center, center top -0.15em, center bottom -0.15em;
			background-size: 0.5em 0.5em, 0.5em 0.5em, 0.5em 0.5em, 0.75em 0.25em,
				0.75em 0.25em;

			/* border */
			border: calc(var(--stroke, #{$silicon-stroke}) / 2) solid currentColor;
		}
	}
}
