@import '../default';

@mixin silicon-go-right($selector: '.#{$silicon-prefix}go-right') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.5em;
		height: 1em;

		// Visibility
		overflow: hidden;

		&::before {
			content: '';


			position: absolute;
			top: 50%;
			right: 0;


			display: block;
			width: calc(0.5em - (#{$silicon-stroke-var} / 2));
			height: calc(0.5em - (#{$silicon-stroke-var} / 2));


			border: #{$silicon-stroke-var} solid currentColor;
			border-bottom: none;
			border-left: none;


			transform: rotate(45deg);
			transform-origin: 100% 0;
		}
	}
}
