@import '../default';

@mixin silicon-home($class: '#{$silicon-prefix}home') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;
	
		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
	}
}
