@import '../default';

@mixin silicon-label($selector: '.#{$silicon-prefix}label') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.5em;
		height: 0.65em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: none;

		// Transform
		transform: rotate(-45deg);

		&::before {
			content: '';


			position: absolute;
			top: 0;
			left: 50%;


			display: block;
			width: calc(0.5em - (#{$silicon-stroke-var} * 1.5));
			height: calc(0.5em - (#{$silicon-stroke-var} * 1.5));
			box-sizing: border-box;


			border: #{$silicon-stroke-var} solid currentColor;
			border-right: none;
			border-bottom: none;
			border-radius: #{$silicon-stroke-var} 0 0 0;


			background-image: radial-gradient(
				closest-side,
				currentColor 100%,
				transparent
			);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: #{$silicon-stroke-var}
				#{$silicon-stroke-var};


			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
}
