@import '../default';

@mixin silicon-label($selector: '.#{$silicon-prefix}label') {
	#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.5em;
		height: 0.65em;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: none;

		/* transform */
		transform: rotate(-45deg);

		&:before {
			content: '';

			/* position */
			position: absolute;
			top: 0;
			left: 50%;

			/* size */
			display: block;
			box-sizing: border-box;
			width: calc(0.5em - (#{$silicon-stroke-var} * 1.5));
			height: calc(0.5em - (#{$silicon-stroke-var} * 1.5));

			/* background */
			background-image: radial-gradient(
				closest-side,
				currentColor 100%,
				transparent
			);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: #{$silicon-stroke-var}
				#{$silicon-stroke-var};

			/* border */
			border: #{$silicon-stroke-var} solid currentColor;
			border-right: none;
			border-bottom: none;
			border-radius: #{$silicon-stroke-var} 0 0 0;

			/* transform */
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
}
