@import '../default';

@mixin silicon-link($selector: '.#{$silicon-prefix}link') {
	#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.5em;
		height: calc(#{$silicon-stroke-var} / 2);

		/* background */
		background-color: currentColor;

		/* transform */
		transform: rotate(-45deg);

		&:before,
		&:after {
			content: '';
			/* position */
			position: absolute;
			top: 50%;

			/* size */
			display: block;
			width: 0.35em;
			height: 0.2em;

			/* border */
			border: #{$silicon-stroke-var} solid currentColor;
			border-radius: #{$silicon-stroke-var};

			/* transform */
			transform: translateY(-50%);
		}
		
		&:before {
			/* position */
			right: calc(100% - (#{$silicon-stroke-var} * 2));
		}
		
		&:after {
			/* position */
			left: calc(100% - (#{$silicon-stroke-var} * 2));
		}
	}
}
