@import '../default';

@mixin silicon-location($selector: '.#{$silicon-prefix}location') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50% 50% 0 50%;

		// Transform
		transform: rotate(45deg);

		&::after {
			content: '';


			position: absolute;
			top: 50%;
			right: 50%;


			display: block;
			width: calc(#{$silicon-stroke-var} * 2);
			height: calc(#{$silicon-stroke-var} * 2);
			box-sizing: border-box;


			border-radius: 50%;


			background-color: currentColor;


			transform: translate(50%, -50%);
		}
		&.colored {


			background-color: $silicons-color-red;
			// Typography
			color: $silicons-color-dark-red;

			&::after {
	
				width: calc(#{$silicon-stroke-var} * 3);
				height: calc(#{$silicon-stroke-var} * 3);

				// Typography
				color: $silicons-color-black;
			}
		}
	}
}

@mixin silicon-pin($selector: '.#{$silicon-prefix}pin'){
	@include silicon-location($selector);
}