@import '../default';

@mixin silicon-location($class: '#{$silicon-prefix}location') {
	.#{$class} {
		position: relative;

		display: inline-block;
    box-sizing: border-box;
		width: 1em;
		height: 1em;

		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-radius: 50% 50% 0 50%;

		transform: rotate(45deg);

    &:after{
      content: '';
      
			position: absolute;
			top: 50%;
			right: 50%;
      
			display: block;
      box-sizing: border-box;
    	width: calc(var(--stroke, #{$silicon-stroke}) * 2);
			height: calc(var(--stroke, #{$silicon-stroke}) * 2);

			background-color: currentColor;

			border-radius: 50%;

			transform: translate(50%, -50%);
		}
		&.colored{
			color: $silicons-color-dark-red;
			background-color: $silicons-color-red;
			&:after{
				width: calc(var(--stroke, #{$silicon-stroke}) * 3);
				height: calc(var(--stroke, #{$silicon-stroke}) * 3);
				color: $silicons-color-black;
			}
		}
	}
}