@import '../default';

@mixin silicon-lock($class: '#{$silicon-prefix}lock') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.8em;
		height: 0.5em;

		/* border */
		border: #{$silicon-stroke-half-var} solid currentColor;
		border-radius: 0 0 #{$silicon-stroke-var} #{$silicon-stroke-var};

		&:before {
			content: '';

			/* position */
			position: absolute;
			bottom: 100%;
			left: 50%;

			/* size */
			display: block;
			box-sizing: border-box;
			width: 0.6em;
			height: 0.5em;

			/* border */
			border: #{$silicon-stroke-var} solid currentColor;
			border-bottom: 0;
			border-radius: 0.3em 0.3em 0 0;

			transform: translateX(-50%);
		}
	}
}
