@import '../default';

@mixin silicon-lock($selector: '.#{$silicon-prefix}lock') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 0.8em;
		height: 0.5em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-half-var} solid currentColor;
		border-radius: 0 0 #{$silicon-stroke-var} #{$silicon-stroke-var};

		&::before {
			content: '';

			// Position
			position: absolute;
			bottom: 100%;
			left: 50%;

			// Box Model
			display: block;
			width: 0.6em;
			height: 0.5em;
			box-sizing: border-box;

			// Border
			border: #{$silicon-stroke-var} solid currentColor;
			border-bottom: 0;
			border-radius: 0.3em 0.3em 0 0;
			
			// Transform
			transform: translateX(-50%);
		}
	}
}
