@import '../default';

@mixin silicon-mail($selector: '.#{$silicon-prefix}mail') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: .75em;
		box-sizing: border-box;
		
		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: #{$silicon-stroke-var};

		// Visual
		overflow: hidden;
		
		&::after {
			content: '';


			position: absolute;
			left: 50%;


			display: block;
			width: .6em;
			height: .6em;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: #{$silicon-stroke-var};
			

			transform: translate(-50%,-50%) rotate(45deg);
			transform-origin: 50% 50%;
		}
		
		&.colored{

			background-color: $silicons-color-white;
			
			// Typography
			color: $silicons-color-dark-gray;
		}
	}
}
