@import '../default';

@mixin silicon-map($class: '#{$silicon-prefix}map') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.33em;
		height: 1em;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-right-width: calc(#{$silicon-stroke-var} / 4);
		border-left-width: calc(#{$silicon-stroke-var} / 4);

		/* transform */
		transform: skewY(-12deg);

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;
			top: calc(#{$silicon-stroke-var} * -1);

			/* size */
			display: block;
			box-sizing: border-box;
			width: 0.33em;
			height: 1em;

			/* border */
			border: #{$silicon-stroke-var} solid currentColor;
		}
		&:before {
			/* position */
			left: calc(100% + (#{$silicon-stroke-var} / 4));

			/* border */
			border-left-width: calc(#{$silicon-stroke-var} / 4);
			border-radius: 0 #{$silicon-stroke-var}
				#{$silicon-stroke-var} 0;

			/* transform */
			transform: skewY(24deg);
			transform-origin: 0 100%;
		}
		&:after {
			/* position */
			right: calc(100% + (#{$silicon-stroke-var} / 4));

			/* border */
			border-right-width: calc(#{$silicon-stroke-var} / 4);
			border-radius: #{$silicon-stroke-var} 0 0
				#{$silicon-stroke-var};

			/* transform */
			transform: skewY(24deg);
			transform-origin: 100% 0;
		}
		&.colored {
			&,
			&:after,
			&:before {
				/* text */
				color: $silicons-color-blue;

				/* background */
				background-color: $silicons-color-light-blue;
				background-image: radial-gradient(
					$silicons-color-green 40%,
					$silicons-color-beige 50%,
					transparent 60%
				);
				background-position: center center;
				background-size: 1em 1em;
			}
			&:before {
				/* background */
				background-position: right center;
			}
			&:after {
				/* background */
				background-position: left center;
			}
		}
	}
}
