@import '../default';

@mixin silicon-map($selector: '.#{$silicon-prefix}map') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.33em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-right-width: calc(#{$silicon-stroke-var} / 4);
		border-left-width: calc(#{$silicon-stroke-var} / 4);

		// Transform
		transform: skewY(-12deg);

		&::before,
		&::after {
			content: '';


			position: absolute;
			top: calc(#{$silicon-stroke-var} * -1);


			display: block;
			width: 0.33em;
			height: 1em;
			box-sizing: border-box;


			border: #{$silicon-stroke-var} solid currentColor;
		}
		&::before {

			left: calc(100% + (#{$silicon-stroke-var} / 4));


			border-left-width: calc(#{$silicon-stroke-var} / 4);
			border-radius: 0 #{$silicon-stroke-var}
				#{$silicon-stroke-var} 0;


			transform: skewY(24deg);
			transform-origin: 0 100%;
		}
		&::after {

			right: calc(100% + (#{$silicon-stroke-var} / 4));


			border-right-width: calc(#{$silicon-stroke-var} / 4);
			border-radius: #{$silicon-stroke-var} 0 0
				#{$silicon-stroke-var};


			transform: skewY(24deg);
			transform-origin: 100% 0;
		}
		&.colored {
			&,
			&::after,
			&::before {
	
				background-color: $silicons-color-light-blue;
				background-image: radial-gradient(
					$silicons-color-green 40%,
					$silicons-color-beige 50%,
					transparent 60%
				);
				background-position: center center;
				background-size: 1em 1em;
				
				// Typography
				color: $silicons-color-blue;
			}
			&::before {
	
				background-position: right center;
			}
			&::after {
	
				background-position: left center;
			}
		}
	}
}
