@import '../default';

@mixin silicon-math-plus($selector: '.#{$silicon-prefix}math-plus') {
	#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;
			top: 50%;
			left: 50%;

			/* size */
			display: block;
			box-sizing: border-box;
			width: 100%;
			height: #{$silicon-stroke-var};

			/* background */
			background-color: currentColor;

			/* transform */
			transform: translate(-50%, -50%);
		}
	}
}

@mixin silicon-plus($selector: '.#{$silicon-prefix}math-plus') {
	@include silicon-math-plus($selector);
}
