@import '../default';

@mixin silicon-math-minus($selector: '.#{$silicon-prefix}math-minus') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;

		&::before,
		&::after {
			content: '';

			// Position
			position: absolute;
			top: 50%;
			left: 50%;

			// Box Model
			display: block;
			width: 100%;
			height: #{$silicon-stroke-var};
			box-sizing: border-box;

			// Background
			background-color: currentColor;

			// Transform
			transform: translate(-50%, -50%);
		}
	}
}

@mixin silicon-minus($selector: '.#{$silicon-prefix}math-minus') {
	@include silicon-math-minus($selector);
}
