@import '../default';

@mixin silicon-math-plus($selector: '.#{$silicon-prefix}math-plus') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 1em;
    box-sizing: border-box;

		&::before,
		&::after {
			content: '';


			position: absolute;
			top: 50%;
			left: 50%;


			display: block;
			width: 100%;
			height: #{$silicon-stroke-var};
			box-sizing: border-box;
			

			background-color: currentColor;
		}
		&::before {

			transform: translate(-50%, -50%);
		}
		&::after {

			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
}
@mixin silicon-plus($selector: '.#{$silicon-prefix}plus'){
	@include silicon-math-plus($selector);
}