@import '../default';

@mixin silicon-media-play($selector: '.#{$silicon-prefix}media-play') {
	#{$selector} {
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			height: 0;
			border: 0.75em solid currentColor;
			border-top: 0.5em solid transparent;
			border-right-color: transparent;
			border-bottom: 0.5em solid transparent;
			background-color: transparent;

			transform: translate(-25%, -50%);
		}
	}
}
