@import '../default';

@mixin silicon-media-next($selector: '.#{$silicon-prefix}media-next') {
	#{$selector} {
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			height: 0;
			border: 0.5em solid currentColor;
			border-top: 0.5em solid transparent;
			border-right-color: transparent;
			border-bottom: 0.5em solid transparent;
			background-color: transparent;
			transform: translate(-33.33%, -50%);
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 0.2em;
			height: 1em;
			background-color: currentColor;
			transform: translate(66.66%, -50%);
		}
	}
}
