@import '../default';

@mixin silicon-music($selector: '.#{$silicon-prefix}music') {
	#{$selector} {
		position: relative;
		top: -0.75em;
		display: inline-block;
		width: 1em;
		height: 0.3em;
		box-shadow: inset 0 0 0 1.5em currentColor;
		border-radius: 0.05em 0.05em 0 0;
		transform: skewY(-15deg);
		&::before {
			content: '';
			position: absolute;
			top: 0.25em;
			left: 0;
			display: block;
			width: 0.1em;
			height: 1em;
			box-shadow: inset 0 0 0 1.5em currentColor, 0.9em 0 0 0 currentColor;
		}
		&::after {
			content: '';
			position: absolute;
			top: 1.08em;
			left: -0.4em;
			display: block;
			width: 0.5em;
			height: 0.4em;

			box-shadow: inset 0 0 0 1.5em currentColor, 0.9em 0 0 0 currentColor;
			border-radius: 50%;
		}
	}
}
