@import '../default';

@mixin silicon-office-paperclip($selector: '.#{$silicon-prefix}office-paperclip') {
	#{$selector} {
		// Custom Properties
		--height: calc(#{$silicon-stroke-var} * 5.5);
		
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 0.75em;
		height: var(--height);
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-left: none;
		border-radius: 0 0.3em 0.3em 0;

		// Transform
		transform: rotate(-45deg);

		&::before,
		&::after {
			content: '';

			// Position
			position: absolute;

			// Box Model
			display: block;
			box-sizing: border-box;

			// Border
			border: #{$silicon-stroke-var} solid currentColor;
		}

		&::before {
			// Position
			top: calc(#{$silicon-stroke-var} * -1);
			right: 100%;

			// Box Model
			width: 0.5em;
			height: calc(var(--height) - (#{$silicon-stroke-var} * 1.5));

			// Border
			border-right: none;
			border-radius: calc(
					var(--height) - (#{$silicon-stroke-var} * 1.5) / 2
				)
				0 0 calc(var(--height) - (#{$silicon-stroke-var} * 1.5) / 2);
		}

		&::after {
			// Position
			bottom: calc(#{$silicon-stroke-var} / 2);
			left: 0;

			// Box Model
			width: 0.5em;
			height: calc(var(--height) - (#{$silicon-stroke-var} * 3));

			// Border
			border-left: none;
			border-radius: 0
				calc(var(--height) - (#{$silicon-stroke-var} * 3) / 2)
				calc(var(--height) - (#{$silicon-stroke-var} * 3) / 2) 0;
		}
	}
}
