
.#{$silicon-prefix}office-paperclip {
	--height: calc(var(--stroke, #{$silicon-stroke}) * 5.5);
	height: var(--height);
	width: 0.75em;
	border: var(--stroke, #{$silicon-stroke}) solid currentColor;
	border-left: none;
	border-radius: 0 .3em .3em 0;
	position: relative;
	transform: rotate(-45deg);
	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
	}
	&:before {
		right: 100%;
		top: calc(var(--stroke, #{$silicon-stroke}) * -1);
		width: 0.5em;
		height: calc(var(--height) - (var(--stroke, #{$silicon-stroke}) * 1.5));
		border-right: none;
		border-radius: calc(var(--height) - (var(--stroke, #{$silicon-stroke}) * 1.5) / 2) 0 0 calc(var(--height) - (var(--stroke, #{$silicon-stroke}) * 1.5) / 2);
	}
	&:after {
		left: 0;
		bottom: calc(var(--stroke, #{$silicon-stroke}) / 2);
		// top: calc(var(--stroke, #{$silicon-stroke}) * -1);
		width: 0.5em;
		height: calc(var(--height) - (var(--stroke, #{$silicon-stroke}) * 3));
		border-left: none;
		border-radius: 0 calc(var(--height) - (var(--stroke, #{$silicon-stroke}) * 3) / 2) calc(var(--height) - (var(--stroke, #{$silicon-stroke}) * 3) / 2) 0;
	}
}
