@import '../default';

@mixin silicon-office-pencil($selector: '.#{$silicon-prefix}office-pencil') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.6em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-top: none;
		border-radius: 0 0 0.5em 0.5em / 0 0 0.3em 0.3em;

		// Background
		background-image: linear-gradient(to bottom, currentColor, currentColor),
			linear-gradient(to bottom, currentColor, currentColor),
			radial-gradient(
				closest-side,
				transparent calc(100% - #{$silicon-stroke-half-var}),
				currentColor calc(100% - #{$silicon-stroke-half-var}),
				currentColor 100%,
				transparent
			),
			radial-gradient(
				closest-side,
				transparent calc(100% - #{$silicon-stroke-half-var}),
				currentColor calc(100% - #{$silicon-stroke-half-var}),
				currentColor 100%,
				transparent
			);
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
		background-position: 25% 0.1em, 75% 0.1em, bottom 0.75em center,
			bottom 0.2em center;
		background-size: #{$silicon-stroke-half-var} 0.55em,
			#{$silicon-stroke-half-var} 0.55em, 0.8em 0.8em, 0.8em 0.8em;

		// Transform
		transform: rotate(225deg);

		&::before {
			content: '';


			position: absolute;
			top: 0;
			left: 50%;


			display: block;
			width: calc((0.575em - (#{$silicon-stroke-var} * 1.5)) * 1);
			height: calc((0.575em - (#{$silicon-stroke-var} * 1.5)) * 1);
			box-sizing: border-box;


			border: calc(#{$silicon-stroke-var} * 0.8) solid currentColor;
			border-right-color: transparent;
			border-bottom-color: transparent;


			background-image: radial-gradient(
				closest-side,
				currentColor 100%,
				transparent
			);
			background-repeat: no-repeat;
			background-position: -0.15em -0.15em;
			background-size: 0.3em 0.3em;
-radius: #{$silicon-stroke-var} 0 0 0;


			transform: translate(-50%, -50%) scale(1, 1) rotate(45deg);
		}
	}
}
