@import '../default';

@mixin silicon-office-scissors($class: '#{$silicon-prefix}office-scissors') {
	.#{$class} {
		/* position */
		position: relative;
		width: 1em;
		height: 1em;
		
		/* background */
		background-image: radial-gradient(closest-side, transparent 50%, currentColor 50%, currentColor 100%, transparent),radial-gradient(closest-side, transparent 50%, currentColor 50%, currentColor 100%, transparent);
		background-repeat: no-repeat,no-repeat; 
		background-position: .65em bottom, .15em bottom ;
		background-size: 0.2em 0.25em, 0.2em 0.25em;
		
		/* transform */
		transform: rotate(45deg);

		&:before,
		&:after {
			content: '';

		/* position */
			position: absolute;
			top: -.05em;

		/* size */
			display: block;
			width: #{$silicon-stroke-var};
			height: 1em;
			
			/* background */
			background-color: currentColor;
			
			/* transform */
			transform-origin: 50% 50%;
		}
		&:before {
			/* position */
			right: 50%;
			
			/* border */
			border-radius:.2em 0 0 120%;
			
			/* transform */
			transform: rotate(-22.5deg);
		}
		&:after {
			/* position */
			left: 50%;
			
			/* border */
			border-radius:0 .2em 120% 0;
			
			/* transform */
			transform: rotate(22.5deg);
		}
	}
}
