@import '../default';

@mixin silicon-paste($selector: '.#{$silicon-prefix}paste') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 0.75em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;

		// Background
		background-image: linear-gradient(
			to bottom,
			transparent,
			transparent calc(50% - (#{$silicon-stroke-var} / 4)),
			currentColor calc(50% - (#{$silicon-stroke-var} / 4)),
			currentColor calc(50% + (#{$silicon-stroke-var} / 4)),
			transparent calc(50% + (#{$silicon-stroke-var} / 4)),
			transparent
		);
		background-repeat: repeat-y;
		background-position: center center;
		background-size: 0.4em calc(#{$silicon-stroke-var} * 1.5);

		&::before {
			content: '';

			// Position
			position: absolute;
			top: 0em;
			left: 50%;

			// Box Model
			width: 0.3em;
			height: 0.1em;

			// Background
			background-color: currentColor;

			// Transform
			transform: translateX(-50%);
		}
		&::after {
			content: '';

			// Position
			position: absolute;
			bottom: 100%;
			left: 50%;

			// Box Model
			width: 0.2em;
			height: 0.2em;

			// Border
			border: #{$silicon-stroke-half-var} solid currentColor;
			border-radius: 50% 50% 0 0;

			// Transform
			transform: translateX(-50%);
		}
	}
}
