@import '../default';
@mixin silicon-picture($selector: '.#{$silicon-prefix}picture') {
	#{$selector} {
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;
		border: #{$silicon-stroke-var} solid currentColor;
		overflow: hidden;

		&::before {

			content: '';
			position: absolute;
			top: 0.1em;
			left: 0.1em;
			width: 0.1em;
			height: 0.1em;
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 50%;

		}

		&::after {

			content: '';
			position: absolute;
			top: 0.5em;
			left: 0.25em;
			width: 0.6em;
			height: 0.6em;
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: #{$silicon-stroke-var} 0 0 0;
			transform: rotate(45deg);
			transform-origin: 50% 50%;

		}

		&.colored {
			background-color: $silicons-color-light-blue;

			// Typography
			color: $silicons-color-dark-brown;
			&::before {
				box-shadow: 0 0 0.2em 0 $silicons-color-white;

				background-color: $silicons-color-yellow;

				// Typography
				color: $silicons-color-yellow;
			}
			&::after {
				background-color: $silicons-color-green;

				// Typography
				color: $silicons-color-dark-green;
			}
		}
	}
}
