@import '../default';
@mixin silicon-picture($class: '#{$silicon-prefix}picture') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;

		/* border */
		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-radius: var(--stroke, #{$silicon-stroke});
		
		/* overflow */
		overflow: hidden;

		&:before {
			content: '';

			/* position */
			position: absolute;
			left: .1em;
			top: .1em;

			/* display */
			width: .1em;
			height: .1em;

			/* border */
			border-radius: 50%;
			border: calc(var(--stroke, #{$silicon-stroke}) / 2) solid currentColor;
		}
		
		&:after {
			content: '';

			/* position */
			position: absolute;
			left: .25em;
			top: .5em;

			/* display */
			width: .6em;
			height: .6em;

			/* border */
			border: calc(var(--stroke, #{$silicon-stroke}) / 2) solid currentColor;
			border-radius: var(--stroke, #{$silicon-stroke}) 0 0 0;
			
			/* trasnform */
			transform: rotate(45deg);
			transform-origin: 50% 50%;
		}
		
		&.colored{
			/* text */
			color: $silicons-color-dark-brown;
			
			/* background */
			background-color: $silicons-color-light-blue;
			&:before{
				/* text */
				color: $silicons-color-yellow;
				
				/* background */
				background-color: $silicons-color-yellow;
				
				
				/* shadow */
				box-shadow: 0 0 .2em 0 $silicons-color-white;
				
			}
			&:after{
				/* text */
				color: $silicons-color-dark-green;
				
				/* background */
				background-color: $silicons-color-green;
			}
		}
	}
}
