@import '../default';
@mixin silicon-power-socket-us($selector: '.#{$silicon-prefix}power-socket-us') {
	.#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;

		/* background */
		background-image: linear-gradient(to bottom, currentColor, currentColor),
			linear-gradient(to bottom, currentColor, currentColor);
		background-repeat: no-repeat, no-repeat;
		background-position: 30% calc(#{$silicon-stroke-var} * 2), 70% calc(#{$silicon-stroke-var} * 2);
		background-size: #{$silicon-stroke-half-var} calc(#{$silicon-stroke-var} * 2),
			#{$silicon-stroke-half-var} calc(#{$silicon-stroke-var} * 2);

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 0.3em / 0.5em;

		&:before {
			content: '';
			/* position */
			position: absolute;
			bottom: calc(#{$silicon-stroke-var});
			left: 50%;
			/* size */
			display: block;
			width: #{$silicon-stroke-var};
			height: #{$silicon-stroke-var};
			
			/* background */
			background-color: currentColor;
			
			/* border */
			border-radius: 50% 50% 0 0;

			/* transform */
			transform: translateX(-50%);
		}
	}
}
