@import '../default';
@mixin silicon-power-socket-eu($class: '#{$silicon-prefix}power-socket-eu') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;

		/* background */
		background-image: radial-gradient(
				closest-side,
				currentColor 100%,
				transparent
			),
			radial-gradient(closest-side, currentColor 100%, transparent),
			linear-gradient(
				to bottom,
				currentColor,
				currentColor calc(50% - #{$silicon-stroke-half-var}),
				transparent calc(50% - #{$silicon-stroke-half-var}),
				transparent calc(50% + #{$silicon-stroke-half-var}),
				currentColor calc(50% + #{$silicon-stroke-half-var}),
				currentColor
			),
			linear-gradient(
				to bottom,
				currentColor,
				currentColor calc(50% - #{$silicon-stroke-half-var}),
				transparent calc(50% - #{$silicon-stroke-half-var}),
				transparent calc(50% + #{$silicon-stroke-half-var}),
				currentColor calc(50% + #{$silicon-stroke-half-var}),
				currentColor
			);
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
		background-position: 25% center, 75% center, left top, right top;
		background-size: calc(#{$silicon-stroke-var} * 1.5)
				calc(#{$silicon-stroke-var} * 1.5),
			calc(#{$silicon-stroke-var} * 1.5) calc(#{$silicon-stroke-var} * 1.5), #{$silicon-stroke-half-var} 100%, #{$silicon-stroke-half-var} 100%;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;
	}
}
