@import '../default';

@mixin silicon-refresh($class: '#{$silicon-prefix}refresh') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;
		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-left-color: transparent;
		border-right-color: transparent;

		/* border */
		border-radius: 50%;

		/* transform */
		transform: rotate(-22.5deg);

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;

			/* size */
			display: block;
			box-sizing: border-box;
			width: calc(var(--stroke, #{$silicon-stroke}) * 3);
			height: calc(var(--stroke, #{$silicon-stroke}) * 3);

			/* border */
			border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		}
		&:before {
			/* position */
			top: 50%;
			left: 50%;

			/* border */
			border-bottom: none;
			border-left: none;

			/* transform */
			transform: translate(25%, 75%) rotate(22.5deg);
		}
		&:after {
			/* position */
			bottom: 50%;
			right: 50%;

			/* border */
			border-top: none;
			border-right: none;

			/* transform */
			transform: translate(-25%, -75%) rotate(22.5deg);
		}
	}
}
