@import '../default';

@mixin silicon-reload($selector: '.#{$silicon-prefix}reload') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;
		border: #{$silicon-stroke-var} solid currentColor;
		border-right-color: transparent;

		// Border
		border-radius: 50%;

		// Transform
		transform: rotate(180deg) scale(-1, 1);

		&::before,
		&::after {
			content: '';

			// Position
			position: absolute;
			top: 50%;
			left: 50%;

			// Box Model
			display: block;
			width: calc(#{$silicon-stroke-var} * 3);
			height: calc(#{$silicon-stroke-var} * 3);
			box-sizing: border-box;

			// Border
			border: #{$silicon-stroke-var} solid currentColor;
			border-bottom: none;
			border-left: none;

			// Transform
			transform: translate(25%, 75%) rotate(22.5deg);
		}
	}
}
