@import '../default';

@mixin silicon-reload($selector: '.#{$silicon-prefix}reload') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;
		border: #{$silicon-stroke-var} solid currentColor;
		border-right-color: transparent;

		// Border
		border-radius: 50%;

		// Transform
		transform: rotate(180deg) scale(-1, 1);

		&::before,
		&::after {
			content: '';


			position: absolute;
			top: 50%;
			left: 50%;


			display: block;
			width: calc(#{$silicon-stroke-var} * 3);
			height: calc(#{$silicon-stroke-var} * 3);
			box-sizing: border-box;


			border: #{$silicon-stroke-var} solid currentColor;
			border-bottom: none;
			border-left: none;


			transform: translate(25%, 75%) rotate(22.5deg);
		}
	}
}
