@import '../default';

@mixin silicon-search($selector: '.#{$silicon-prefix}search') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 1em;
		height: 1em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;

		&::before {
			content: '';

			// Position
			position: absolute;
			top: 100%;
			left: 100%;

			// Box Model
			display: block;
			width: 0.5em;
			height: #{$silicon-stroke-var};
			box-sizing: border-box;

			// Background
			background-color: currentColor;

			// Transform
			transform: translate(-0.1em, -0.1em) rotate(45deg);
			transform-origin: 0 50%;
		}
	}
}
