@import '../default';

@mixin silicon-shape-square($selector: '.#{$silicon-prefix}shape-square') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.8em;
		height: 0.8em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;

		&.colored {

			background-color: $silicons-color-purple;
			
			// Typography
			color: $silicons-color-purple;
		}
	}
}
