@import "../default";

@mixin silicon-shape-drop($selector: '.#{$silicon-prefix}shape-drop') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 1em;
		height: 1em;
    box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50% 0 50% 50%;
		
		// Transform
		transform: rotate(-45deg);

		&.colored {
			// Background
			background-color: $silicons-color-light-blue;
			
			// Typography
			color: $silicons-color-blue;
		}
	}
}