@import '../default';

@mixin silicon-shape-heart($selector: '.#{$silicon-prefix}shape-heart') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 0.75em;
		height: 0.75em;
		box-sizing: border-box;

		// Border
		border-bottom: #{$silicon-stroke-var} solid currentColor;
		border-left: #{$silicon-stroke-var} solid currentColor;

		// Transform
		transform: translateY(0.25em) rotate(-45deg);

		&::before,
		&::after {
			content: '';


			position: absolute;


			box-sizing: border-box;
		}

		&::before {

			top: calc(-0.5em + #{$silicon-stroke-var});
			left: calc(#{$silicon-stroke-var} * -1);


			width: 0.75em;
			height: 0.5em;


			border-top: #{$silicon-stroke-var} solid currentColor;
			border-right: #{$silicon-stroke-var} solid currentColor;
			border-left: #{$silicon-stroke-var} solid currentColor;
			border-radius: 0.5em 0.5em 0 0;
		}

		&::after {

			top: 0;
			left: calc(0.5em + #{$silicon-stroke-var});


			width: 0.5em;
			height: 0.75em;


			border-top: #{$silicon-stroke-var} solid currentColor;
			border-right: #{$silicon-stroke-var} solid currentColor;
			border-bottom: #{$silicon-stroke-var} solid currentColor;
			border-radius: 0 0.5em 0.5em 0;
		}
		&.colored {
			&,
			&::after,
			&::before {
	
				background-color: $silicons-color-red;

				// Typography
				color: $silicons-color-dark-red;
			}
		}
	}
}
