@import "../default";

@mixin silicon-shape-circle($selector: '.#{$silicon-prefix}shape-circle') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: .9em;
		height: .9em;
    box-sizing: border-box;
		
		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;
		
		&.colored{
			// Background
			background-color: $silicons-color-turquoise;
			
			// Typography
			color: $silicons-color-turquoise; 
		}
	}
}