@import "../default";

@mixin silicon-shape-circle($class: '#{$silicon-prefix}shape-circle') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
    box-sizing: border-box;
		width: .9em;
		height: .9em;
		
		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;
		
		&.colored{
			/* text */
			color: $silicons-color-turquoise;
			
			/* background */
			background-color: $silicons-color-turquoise; 
		}
	}
}