@import "../default";

@mixin silicon-shape-drop($class: '#{$silicon-prefix}shape-drop') {
	.#{$class} {
		position: relative;

		display: inline-block;
    box-sizing: border-box;
		width: 1em;
		height: 1em;

		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-radius: 50% 0 50% 50%;

		transform: rotate(-45deg);

		&.colored {
			color: $color-blue;
			background-color: $color-light-blue;
		}
	}
}