@import "../default";

@mixin silicon-shape-drop($selector: '.#{$silicon-prefix}shape-drop') {
	.#{$selector} {
		position: relative;

		display: inline-block;
    box-sizing: border-box;
		width: 1em;
		height: 1em;

		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50% 0 50% 50%;

		transform: rotate(-45deg);

		&.colored {
			color: $silicons-color-blue;
			background-color: $silicons-color-light-blue;
		}
	}
}