@import '../default';
@import 'smiley-happy';

@mixin silicon-smiley-cry($selector: '.#{$silicon-prefix}smiley-cry') {
	@include silicon-smiley-happy($selector);
	.#{$selector} {
		&:before {
			content: '';

			/* position */
			position: absolute;
			top: 50%;
			right: calc(50% + 0.15em);

			/* size */
			display: block;
			box-sizing: border-box;
			width: 0.2em;
			height: 0.2em;

			/* border */
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0 50% 50% 50%;

			/* transform */
			transform: rotate(45deg);
		}
		&:after {
			/* border */
			border-top-color: currentColor;
			border-bottom-color: transparent;

			/* transform */
			transform: translate(-50%, 25%);
		}
		&.colored {
			&:before {
				/* text */
				color: lighten(blue, 20%);
				
				/* background */
				background-color: lighten(blue, 30%);
			}
		}
	}
}
