@import '../default';
@import 'smiley-happy';

@mixin silicon-smiley-angry($class: '#{$silicon-prefix}smiley-angry') {
	@include silicon-smiley-happy($class);
	.#{$class} {
		background-image: none;
		&:before,
		&:after {
			content: '';
			
			/* position */
			position: absolute;
			box-sizing: border-box;
		}

		&:before {
			/* position */
			right: calc(50% + 0.05em);
			bottom: 50%;
			
			/* size */
			width: 0.2em;
			height: 0.1em;
			
			/* background */
			background-color: currentColor;
			
			/* border */
			border-radius: 0 0 0.1em 0.1em;
			
			/* box */
			box-shadow: 0.3em 0 0 0 currentColor;
		}
		&:after {
			/* border */
			border-top-color: currentColor;
			border-bottom-color: transparent;
			
			/* transform */
			transform: translate(-50%, 25%);
		}
		&.colored {
			&:before {
				/* position */
				bottom: calc(50% + 0.1em);
				
				/* text */
				color: $color-yellow;
				
				/* border */
				border-radius: 0.1em 0.1em 0 0;
			}
		}
	}
}
