@import '../default';
@import 'smiley-happy';

@mixin silicon-smiley-grin($selector: '.#{$silicon-prefix}smiley-grin') {
	@include silicon-smiley-happy($selector);
	#{$selector} {
		&::after {
			content: '';


			width: 0.5em;
			height: 0.25em;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0 0 0.5em 0.5em;


			transform: translate(-50%, 25%);
		}

		&.colored {
			&::after {
	
				background-color: white;
				
				// Typography
				color: black;
			}
		}
	}
}
