@import '../default';
@import 'smiley-happy';

@mixin silicon-smiley-sad($selector: '.#{$silicon-prefix}smiley-sad') {
	@include silicon-smiley-happy($selector);
	#{$selector} {
		&::after {
			// Border
			border-top-color: currentColor;
			border-bottom-color: transparent;

			// Transform
			transform: translate(-50%, 25%);
		}
	}
}
