@import '../default';
@import 'smiley-happy';

@mixin silicon-smiley-angry($selector: '.#{$silicon-prefix}smiley-angry') {
	@include silicon-smiley-happy($selector);
	#{$selector} {
		background-image: none;
		&::before,
		&::after {
			content: '';
			

			position: absolute;
			

			box-sizing: border-box;
		}

		&::before {

			right: calc(50% + 0.05em);
			bottom: 50%;
			

			width: 0.2em;
			height: 0.1em;
			
			/* box */
			box-shadow: 0.3em 0 0 0 currentColor;
			

			border-radius: 0 0 0.1em 0.1em;
			

			background-color: currentColor;
		}
		&::after {

			border-top-color: currentColor;
			border-bottom-color: transparent;
			

			transform: translate(-50%, 25%);
		}
		&.colored {
			&::before {
	
				bottom: calc(50% + 0.1em);
				
	
				border-radius: 0.1em 0.1em 0 0;
				
				// Typography
				color: $silicons-color-yellow;
			}
		}
	}
}
