@import '../default';
@import 'smiley-happy';

@mixin silicon-smiley-sad($class: '#{$silicon-prefix}smiley-sad') {
	@include silicon-smiley-happy($class);
	.#{$class} {
		&:after {
			/* border */
			border-top-color: currentColor;
			border-bottom-color: transparent;

			/* transform */
			transform: translate(-50%, 25%);
		}
	}
}
