@import '../default';
@import 'smiley-happy';

@mixin silicon-smiley-grin($class: '#{$silicon-prefix}smiley-grin') {
	@include silicon-smiley-happy($class);
	.#{$class} {
		&:after {
			content: '';

			/* size */
			width: 0.5em;
			height: 0.25em;

			/* border */
			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-radius: 0 0 0.5em 0.5em;

			/* transform */
			transform: translate(-50%, 25%);
		}

		&.colored {
			&:after {
				/* text */
				color: black;
				
				/* background */
				background-color: white;
			}
		}
	}
}
