@import '../default';

@mixin silicon-suitcase($selector: '.#{$silicon-prefix}suitcase') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 0.75em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: #{$silicon-stroke-var};

		&::before,
		&::after {
			content: '';


			position: absolute;
			left: 50%;


			display: block;
			box-sizing: border-box;


			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
		}
		&::before {

			top: calc(#{$silicon-stroke-var} * -1);


			width: 0.5em;
			height: calc(100% + #{$silicon-stroke-var} * 2);


			border-top: none;
			border-bottom: none;


			transform: translateX(-50%);
		}

		&::after {

			bottom: calc(100% + #{$silicon-stroke-var});


			width: 0.3em;
			height: 0.125em;


			border-bottom: none;
			border-radius: 0.25em 0.25em 0 0;


			transform: translateX(-50%);
		}
		&.colored {

			background-color: $silicons-color-brown;

			// Typography
			color: $silicons-color-dark-brown;

			&::before {
				// Typography
				color: $silicons-color-gray;
			}
			&::after {
				// Typography
				color: $silicons-color-dark;
			}
		}
	}
}
