@import '../default';

@mixin silicon-temperature-25($selector: '.#{$silicon-prefix}temperature-25') {
	#{$selector} {
		position: relative;
		top: -0.15em;
		display: inline-block;
		width: 0.3em;
		height: 0.75em;
		border: 0.05em solid currentColor;
		border-bottom-color: transparent;
		border-radius: 0.15em 0.15em 0 0;
		background-image: linear-gradient(to bottom, currentColor, currentColor);
		background-repeat: no-repeat, no-repeat;
		background-position: center bottom;
		background-size: 0.1em 0.1em;

		&::before,
		&::after {
			content: '';
			position: absolute;
			display: block;
		}

		&::before {
			top: calc(100% - 0.08em);
			left: 50%;
			width: 0.325em;
			height: 0.325em;
			border: 0.05em solid currentColor;
			border-top-color: transparent;
			border-radius: 50%;
			background-image: radial-gradient(
					closest-side,
					currentColor 100%,
					transparent
				),
				linear-gradient(to bottom, currentColor, currentColor);
			background-repeat: no-repeat, no-repeat;
			background-position: center center, top center;
			background-size: 0.2em 0.2em, 0.1em 0.15em;
			transform: translateX(-50%);
		}
		&::after {
			top: 0.2em;
			left: calc(100% + 0.1em);
			width: 0.1em;
			height: 0.05em;
			box-shadow: 0 0.1em currentColor, 0 0.2em currentColor,
				0 0.3em currentColor;
			background-color: currentColor;
		}
	}
}
