@import '../default';
@import 'text-align-left';

@mixin silicon-text-align-right(
	$class: '#{$silicon-prefix}text-align-right'
) {
	@include silicon-text-align-left($class);
	.#{$class} {
		background-position: bottom right;
		
		&:before {
			background-position: bottom right;
		}
	}
}
