@import '../default';

@mixin silicon-text-align-left($selector: '.#{$silicon-prefix}text-align-left') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: calc(#{$silicon-stroke-var} * 3);
		box-sizing: border-box;

		// Border
		border-top: #{$silicon-stroke-var} solid currentColor;
		border-right: none;
		border-left: none;

		// Background
		background-image: linear-gradient(to right, currentColor, currentColor);
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 0.75em #{$silicon-stroke-var};

		// Transform
		transform: translateY(calc(#{$silicon-stroke-var} * -2));

		&::before {
			content: '';


			position: absolute;
			top: calc(#{$silicon-stroke-var} * 3);
			left: 0;


			display: block;
			width: 100%;
			height: calc(#{$silicon-stroke-var} * 3);
			box-sizing: border-box;


			border-top: #{$silicon-stroke-var} solid currentColor;
			border-right: none;
			border-left: none;


			background-image: linear-gradient(to right, currentColor, currentColor);
			background-repeat: no-repeat;
			background-position: bottom left;
			background-size: 0.5em #{$silicon-stroke-var};
		}
		&.colored {
			// Typography
			color: $silicons-color-dark;
		}
	}
}
