@import '../default';
@import 'text-align-left';

@mixin silicon-text-align-center(
	$selector: '.#{$silicon-prefix}text-align-center'
) {
	@include silicon-text-align-left($selector);
	#{$selector} {
		// Background
		background-position: bottom center;
		
		&::before {

			background-position: bottom center;
		}
	}
}
