@import '../default';

@mixin silicon-text-align-left($class: '#{$silicon-prefix}text-align-left') {
	.#{$class} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: calc(var(--stroke, #{$silicon-stroke}) * 3);

		/* background */
		background-image: linear-gradient(to right, currentColor, currentColor);
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 0.75em var(--stroke, #{$silicon-stroke});

		/* border */
		border-top: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-right: none;
		border-left: none;

		/* transform */
		transform: translateY(calc(var(--stroke, #{$silicon-stroke}) * -2));

		&:before {
			content: '';

			/* position */
			position: absolute;
			top: calc(var(--stroke, #{$silicon-stroke}) * 3);
			left: 0;

			/* size */
			display: block;
			box-sizing: border-box;
			width: 100%;
			height: calc(var(--stroke, #{$silicon-stroke}) * 3);

			/* background */
			background-image: linear-gradient(to right, currentColor, currentColor);
			background-repeat: no-repeat;
			background-position: bottom left;
			background-size: 0.5em var(--stroke, #{$silicon-stroke});

			/* border */
			border-top: var(--stroke, #{$silicon-stroke}) solid currentColor;
			border-right: none;
			border-left: none;
		}
		&.colored {
			color: $silicons-color-dark;
		}
	}
}
