@import '../default';

@mixin silicon-time-clock($class: '#{$silicon-prefix}time-clock') {
	.#{$class} {
		--time-hours: 2;
		--time-minutes: 35;

		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;

		/* border */
		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;
			bottom: calc(50% - (#{$silicon-stroke-var} /2));
			left: 50%;

			/* size */
			display: block;
			width: calc(#{$silicon-stroke-var} / 2);
			margin-left: calc(#{$silicon-stroke-var} * -0.25);

			/* background */
			background-color: currentColor;

			/* transform */
			transform-origin: 50% calc(100% - (#{$silicon-stroke-var} / 2));
		}
		&:before {
			/* size */
			height: 0.5em;

			/* transform */
			transform: rotate(calc(360deg / 12 * var(--time-hours, 4)));
		}
		&:after {
			/* size */
			height: 0.35em;
			
			/* transform */
			transform: rotate(calc(360deg / 60 * var(--time-minutes, 11)));
		}
	}
}
