@import '../default';

@mixin silicon-time-watch($selector: '.#{$silicon-prefix}time-watch') {
	.#{$selector} {
		/* position */
		position: relative;

		/* size */
		display: inline-block;
		box-sizing: border-box;
		width: 0.5em;
		height: 1em;

		/* background */
		background-image: radial-gradient(
				closest-side,
				transparent calc(100% - 0.05em),
				currentColor calc(100% - 0.05em),
				currentColor 100%,
				transparent
			),
			linear-gradient(to bottom, currentColor, currentColor),
			linear-gradient(to bottom, currentColor, currentColor);
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: center center, center top, center bottom;
		background-size: 0.5em 0.5em, 0.3em 0.3em, 0.3em 0.3em;

		&:before,
		&:after {
			content: '';

			/* position */
			position: absolute;
			bottom: calc(50% - (#{$silicon-stroke-var} / 4));
			left: 50%;

			/* size */
			display: block;
			width: calc(#{$silicon-stroke-var} / 4);
			margin-left: calc(#{$silicon-stroke-var} * -0.25);

			/* background */
			background-color: currentColor;

			/* transform */
			transform-origin: 50% calc(100% - (#{$silicon-stroke-var} / 4));
		}
		&:before {
			/* size */
			height: 0.2em;

			/* transform */
			transform: rotate(calc(360deg / 12 * var(--time-hours, 4)));
		}
		&:after {
			/* size */
			height: 0.15em;

			/* transform */
			transform: rotate(calc(360deg / 60 * var(--time-minutes, 11)));
		}
	}
}
