@import '../default';

@mixin silicon-trash($selector: '.#{$silicon-prefix}trash') {
	.#{$selector} {
		position: relative;

		display: inline-block;
    box-sizing: border-box;
		width: 0.75em;
		height: 0.75em;

		border: #{$silicon-stroke-var} solid currentColor;
		border-top: none;
		border-radius: 0 0 0.1em 0.1em;

		transform: translateY(0.2em);
    
    &:before, &:after{
      content: '';
      
      position: absolute;
      
			display: block;
      box-sizing: border-box;
      
			transform: translateX(-50%);
    }
    
		&:before {
			bottom: calc(100% + #{$silicon-stroke-var});
			left: 50%;

			width: 1em;
			height: #{$silicon-stroke-var};

			background-color: currentColor;

			border: none;
		}
		&:after {
			bottom: calc(100% + (#{$silicon-stroke-var} * 2));
			left: 50%;

			width: 0.2em;
			height: 0.1em;

			border: calc(#{$silicon-stroke-var} / 2) solid currentColor;
			border-bottom: none;
			border-radius: 0.2em 0.2em 0 0;
		}
	}
}