@import "../default";

@mixin silicon-ui-copy($class: '#{$silicon-prefix}ui-copy') {
	.#{$class} {
		@include silicon-default-settings();
		
		position: relative;
		width: 0.75em;
		height: 1em;

		border: var(--stroke, #{$silicon-stroke}) solid currentColor;

		&:before {
			content: '';

			position: absolute;
			top: calc(var(--stroke) * -3);
			left: calc(var(--stroke) * -3);

			width: 0.75em;
			height: 1em;

			border: var(--stroke, #{$silicon-stroke}) solid currentColor;
			border-right: none;
			border-bottom: none;
		}
	}
}
@include silicon-ui-copy();
