@import '../default';

@mixin silicon-ui-search($class: '#{$silicon-prefix}ui-search') {
	.#{$class} {
		position: relative;

		width: 1em;
		height: 1em;

		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-radius: 50%;

		&:before {
			content: '';

			position: absolute;
			top: 100%;
			left: 100%;

			display: block;
			width: 0.5em;
			height: var(--stroke, #{$silicon-stroke});

			background-color: currentColor;

			transform: translate(-0.1em, -0.1em) rotate(45deg);
			transform-origin: 0 50%;
		}
		@include silicon-default-settings();
	}
}
@include silicon-ui-search();
