@import "../default";

@mixin silicon-ui-zoom-out($class: '#{$silicon-prefix}ui-zoom-out') {
	.#{$class} {
    @include silicon-default-settings();
    
	position: relative;

	width: 1em;
	height: 1em;

	border: var(--stroke, #{$silicon-stroke}) solid currentColor;
	border-radius: 50%;

	&:before {
		content: '';

		position: absolute;
		top: 100%;
		left: 100%;

		display: block;
		width: 0.5em;
		height: var(--stroke, #{$silicon-stroke});

		background-color: currentColor;

		transform: translate(-0.1em, -0.1em) rotate(45deg);
		transform-origin: 0 50%;
	}
	&:after {
		content: '';
  
    position: absolute;
		top: 50%;
		left: 50%;
  
  	display: block;
	  width: 0.4em;
		height: 0.4em;
  
    background-image: linear-gradient(
			to bottom,
			transparent calc(50% - var(--stroke, #{$silicon-stroke}) / 4),
			currentColor calc(50% - var(--stroke, #{$silicon-stroke}) / 4),
			currentColor calc(50% + var(--stroke, #{$silicon-stroke}) / 4),
			transparent calc(50% + var(--stroke, #{$silicon-stroke}) / 4)
		);
  
    transform: translate(-50%, -50%);
	}
}
}
@include silicon-ui-zoom-out();