@import '../default';

@mixin silicon-user($selector: '.#{$silicon-prefix}user') {
	#{$selector} {
		position: relative;

		display: inline-block;
    box-sizing: border-box;
		width: 1em;
		height: 0.65em;

		border: #{$silicon-stroke-var} solid currentColor;
		border-bottom: 0;
		border-radius: 0.75em 0.75em 0 0;

		transform: translateY(0.175em);

		&:before {
			content: '';

			position: absolute;
			bottom: 100%;
			left: 50%;

			display: block;
			box-sizing: border-box;
			width: 0.6em;
			height: 0.6em;

			border: #{$silicon-stroke-var} solid currentColor;
			border-radius: 50%;

			transform: translateX(-50%);
		}
	}
}