@import '../default';

@mixin silicon-vehicle-car($selector: '.#{$silicon-prefix}vehicle-car') {
	#{$selector} {
		// Position
		position: relative;

		// Box Model
		display: inline-block;
		width: 1em;
		height: 0.3em;
		box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-half-var} solid currentColor;
		border-radius: #{$silicon-stroke-var} #{$silicon-stroke-var} 0 0;

		// Background
		background-image: radial-gradient(
				closest-side,
				currentColor 50%,
				transparent 50%
			),
			radial-gradient(closest-side, currentColor 50%, transparent 50%);
		background-repeat: no-repeat, no-repeat;
		background-position: left center, right center;
		background-size: 0.2em 0.2em, 0.2em 0.2em;

		&::before,
		&::after {
			content: '';

			// Position
			position: absolute;

			// Box Model
			display: block;
			box-sizing: border-box;
		}
		&::before {
			/* position  */
			bottom: 100%;
			left: 50%;

			// Box Model
			display: inline-block;
			width: 0.8em;
			height: 0.3em;
			box-sizing: border-box;

			// Border
			border: #{$silicon-stroke-half-var} solid currentColor;
			border-radius: 0.2em 0.2em 0 0 / 0.5em 0.5em 0 0;

			// Background
			background-image: radial-gradient(
				closest-side,
				transparent calc(100% - 0.025em),
				currentColor calc(100% - 0.025em),
				currentColor 100%,
				transparent
			);
			background-repeat: no-repeat;
			background-position: 90% 0.1em;
			background-size: 0.2em 0.2em;

			// Transform
			transform: translateX(-50%);
		}
		&::after {
			// Position
			top: 100%;
			left: calc(#{$silicon-stroke-half-var} * -1);

			// Box Model
			width: 0.15em;
			height: 0.2em;
			box-shadow: 0.85em 0 0 0 currentColor;

			// Border
			border-radius: 0 0 0.05em 0.05em;

			// Background
			background-color: currentColor;
		}
	}
}
