@import '../default';

@mixin silicon-volume-mid($class: '#{$silicon-prefix}volume-mid') {
	.#{$class} {
		position: relative;

		display: inline-block;
		box-sizing: border-box;
		width: calc(var(--stroke, #{$silicon-stroke}) * 7);
		height: calc(var(--stroke, #{$silicon-stroke}) * 7);

		border: calc(var(--stroke, #{$silicon-stroke}) * 1.5) solid currentColor;
		border-bottom: none;
		border-left: none;
		border-radius: 0 calc(var(--stroke, #{$silicon-stroke}) * 8) 0 0;
		
		transform: rotate(-45deg);

		&:before,
		&:after {
			content: "";
			
			position: absolute;
			left: 0;
			bottom: 0;

			display: block;
			box-sizing: border-box;
		}
		&:before {
			width: calc(var(--stroke, #{$silicon-stroke}) * 4.25);
			height: calc(var(--stroke, #{$silicon-stroke}) * 4.25);
			
			border: calc(var(--stroke, #{$silicon-stroke}) * 1.5)  solid currentColor;
			border-bottom: none;
			border-left: none;
			border-radius: 0 calc(var(--stroke, #{$silicon-stroke}) * 4.25) 0 0;
		}
		&:after {
			width: calc(var(--stroke, #{$silicon-stroke}) * 1.5);
			height: calc(var(--stroke, #{$silicon-stroke}) * 1.5);
			
			border: calc(var(--stroke, #{$silicon-stroke}) * 1.5) solid currentColor;
			border-bottom: none;
			border-left: none;
			border-radius: 0 calc(var(--stroke, #{$silicon-stroke}) * 1.5) 0 0;
		}
	}
}
