@import '../default';

@mixin silicon-volume-off($class: '#{$silicon-prefix}volume-off') {
	.#{$class} {
		position: relative;

		display: inline-block;
		box-sizing: border-box;
		width: 1em;
		height: 1em;

		border-bottom: none;
		border-left: none;

		transform: translateX(25%) rotate(45deg);

		&:before,
		&:after {
			content: '';

			position: absolute;

			display: block;
			box-sizing: border-box;
		}
		&:before {
			bottom: calc(var(--stroke, #{$silicon-stroke}) * -1.5);
			left: calc(var(--stroke, #{$silicon-stroke}) * -1.5);

			width: 0;
			height: 0;

			border: calc(var(--stroke, #{$silicon-stroke}) * 3) solid currentColor;
			border-top-color: transparent;
			border-right-color: transparent;

			border-radius: var(--stroke, #{$silicon-stroke});
		}
		&:after {
			bottom: calc(var(--stroke, #{$silicon-stroke}) * -2);
			left: calc(var(--stroke, #{$silicon-stroke}) * -2);

			width: calc(var(--stroke, #{$silicon-stroke}) * 4);
			height: calc(var(--stroke, #{$silicon-stroke}) * 4);

			background-color: currentColor;

			transform: rotate(-45deg);
		}
		&.colored {
			color: $silicons-color-gray;
			&:after,
			&:before {
				color: $silicons-color-blue;
			}
		}
	}
}
