@import '../default';

@mixin silicon-weather-sun($class: '#{$silicon-prefix}weather-sun') {
	.#{$class} {
		position: relative;

		display: inline-block;
		box-sizing: border-box;
		width: 0.5em;
		height: 0.5em;

		border: var(--stroke, #{$silicon-stroke}) solid currentColor;
		border-radius: 50%;

		box-shadow: -0.55em 0 0
				calc((var(--stroke, #{$silicon-stroke}) * 1.75) * -1) currentColor,
			0.55em 0 0 calc((var(--stroke, #{$silicon-stroke}) * 1.75) * -1)
				currentColor,
			0 -0.55em 0 calc((var(--stroke, #{$silicon-stroke}) * 1.75) * -1) currentColor,
			0 0.55em 0 calc((var(--stroke, #{$silicon-stroke}) * 1.75) * -1)
				currentColor,
			-0.4em -0.4em 0 calc((var(--stroke, #{$silicon-stroke}) * 1.75) * -1)
				currentColor,
			-0.4em 0.4em 0 calc((var(--stroke, #{$silicon-stroke}) * 1.75) * -1) currentColor,
			0.4em -0.4em 0 calc((var(--stroke, #{$silicon-stroke}) * 1.75) * -1) currentColor,
			0.4em 0.4em 0 calc((var(--stroke, #{$silicon-stroke}) * 1.75) * -1)
				currentColor;
	}
}