@import '../default';

@mixin silicon-wifi($selector: '.#{$silicon-prefix}wifi') {
	#{$selector} {
		position: relative;

		display: inline-block;
		box-sizing: border-box;
		width: calc(#{$silicon-stroke-var} * 7);
		height: calc(#{$silicon-stroke-var} * 7);

		border: calc(#{$silicon-stroke-var} * 1.5) solid currentColor;
		border-bottom: none;
		border-left: none;
		border-radius: 0 calc(#{$silicon-stroke-var} * 8) 0 0;

		transform: rotate(-45deg);

		&:before,
		&:after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 0;

			display: block;
			box-sizing: border-box;
		}
		&:before {
			width: calc(#{$silicon-stroke-var} * 4.25);
			height: calc(#{$silicon-stroke-var} * 4.25);

			border: calc(#{$silicon-stroke-var} * 1.5) solid currentColor;
			border-bottom: none;
			border-left: none;
			border-radius: 0 calc(#{$silicon-stroke-var} * 4.25) 0 0;
		}
		&:after {
			width: calc(#{$silicon-stroke-var} * 1.5);
			height: calc(#{$silicon-stroke-var} * 1.5);

			border: calc(#{$silicon-stroke-var} * 1.5) solid currentColor;
			border-bottom: none;
			border-left: none;
			border-radius: 0 calc(#{$silicon-stroke-var} * 1.5) 0 0;
		}
		&.colored {
			color: $silicons-color-blue;
		}
	}
}
