@import '../default';

@mixin silicon-zoom-out($selector: '.#{$silicon-prefix}zoom-out') {
	.#{$selector} {
		position: relative;

		display: inline-block;
    box-sizing: border-box;
		width: 1em;
		height: 1em;

		border: #{$silicon-stroke-var} solid currentColor;
		border-radius: 50%;

		&:before,
		&:after {
			content: '';

			position: absolute;
			box-sizing: border-box;
		}

		&:before {
			top: 100%;
			left: 100%;

			display: block;
			width: 0.5em;
			height: #{$silicon-stroke-var};

			background-color: currentColor;

			transform: translate(-0.1em, -0.1em) rotate(45deg);
			transform-origin: 0 50%;
		}
		&:after {
			top: 50%;
			left: 50%;

			display: block;
			width: 0.4em;
			height: 0.4em;

			background-image: linear-gradient(
				to bottom,
				transparent calc(50% - #{$silicon-stroke-var} / 4),
				currentColor calc(50% - #{$silicon-stroke-var} / 4),
				currentColor calc(50% + #{$silicon-stroke-var} / 4),
				transparent calc(50% + #{$silicon-stroke-var} / 4)
			);

			transform: translate(-50%, -50%);
		}
	}
}