@import '../default';

@mixin silicon-zoom-in($selector: '.#{$silicon-prefix}zoom-in') {
	#{$selector} {

		position: relative;


		display: inline-block;
		width: 1em;
		height: 1em;
    box-sizing: border-box;

		// Border
		border: #{$silicon-stroke-var} solid currentColor;
    border-radius: 50%;
    
		&::before,
		&::after {
			content: '';


			position: absolute;
			

			box-sizing: border-box;
		}

		&::before {

			top: 100%;
			left: 100%;


			display: block;
			width: 0.5em;
			height: #{$silicon-stroke-var};

		// Background
			background-color: currentColor;

		// Transform
			transform: translate(-0.1em, -0.1em) rotate(45deg);
			transform-origin: 0 50%;
		}

		&::after {

			top: 50%;
			left: 50%;


			display: block;
			width: 0.4em;
			height: 0.4em;

		// Background
			background-image: linear-gradient(
					to right,
					transparent calc(50% - #{$silicon-stroke-var} / 4),
					currentColor calc(50% - #{$silicon-stroke-var} / 4),
					currentColor calc(50% + #{$silicon-stroke-var} / 4),
					transparent calc(50% + #{$silicon-stroke-var} / 4)
				),
				linear-gradient(
					to bottom,
					transparent calc(50% - #{$silicon-stroke-var} / 4),
					currentColor calc(50% - #{$silicon-stroke-var} / 4),
					currentColor calc(50% + #{$silicon-stroke-var} / 4),
					transparent calc(50% + #{$silicon-stroke-var} / 4)
				);

		// Transform
			transform: translate(-50%, -50%);
		}
	}
}