$silicon-prefix: 'silicon-' !default;
$silicon-stroke: 0.1em !default;

$color-black: unquote('var(--black,#101010)');
$color-dark: unquote('var(--dark,#303030)');
$color-white: unquote('var(--white,#ffffff)');
$color-offwhite: unquote('var(--offwhite,#f7f7f7)');
$color-gray: unquote('var(--gray,#7f7f7f)');
$color-green: unquote('var(--green,#10c565)');
$color-light-blue: unquote('var(--light-blue,#{lighten(#1eb3e0,15%)})');
$color-blue: unquote('var(--blue,#1eb3e0)');
$color-dark-blue: unquote('var(--dark-blue,#{darken(#1eb3e0,10%)})');
$color-red: unquote('var(--red,#eb0f33)');
$color-dark-red: unquote('var(--dark-red,#{darken(#eb0f33, 10%)})');
$color-brown: unquote('var(--brown,#aa834f)');
$color-beige: unquote('var(--beige,#{lighten(#aa834f, 20%)})');
$color-yellow: unquote('var(--yellow,#f5c505)');
$color-orange: unquote('var(--orange,#f6790b)');
$color-pink: unquote('var(--pink,#ca1387)');
$color-purple: unquote('var(--purple,#7329b1)');
$color-turquoise: unquote('var(--turquoise,#3feac3)');