$silicon-prefix: 'silicon-' !default;
$silicon-stroke: 0.1em !default;

$silicons-color-black: unquote('var(--black,#101010)');
$silicons-color-dark: unquote('var(--dark,#303030)');
$silicons-color-white: unquote('var(--white,#ffffff)');
$silicons-color-offwhite: unquote('var(--offwhite,#f7f7f7)');
$silicons-color-gray: unquote('var(--gray,#7f7f7f)');
$silicons-color-green: unquote('var(--green,#10c565)');
$silicons-color-light-blue: unquote('var(--light-blue,#{lighten(#1eb3e0,15%)})');
$silicons-color-blue: unquote('var(--blue,#1eb3e0)');
$silicons-color-dark-blue: unquote('var(--dark-blue,#{darken(#1eb3e0,10%)})');
$silicons-color-red: unquote('var(--red,#eb0f33)');
$silicons-color-dark-red: unquote('var(--dark-red,#{darken(#eb0f33, 10%)})');
$silicons-color-brown: unquote('var(--brown,#aa834f)');
$silicons-color-dark-brown: unquote('var(--dark-brown,#{darken(#aa834f, 10%)})');
$silicons-color-beige: unquote('var(--beige,#{lighten(#aa834f, 20%)})');
$silicons-color-yellow: unquote('var(--yellow,#f5c505)');
$silicons-color-orange: unquote('var(--orange,#f6790b)');
$silicons-color-pink: unquote('var(--pink,#ca1387)');
$silicons-color-purple: unquote('var(--purple,#7329b1)');
$silicons-color-turquoise: unquote('var(--turquoise,#3feac3)');